<!-- Start: Header Section
================================ -->
<section class=" relative background-2">
    <div class="container">
        <div class="row section-separator-big">

            <div class="col-xs-12">
                <!-- Start: Section Header -->
                <div class="section-header margin-t-30 margin-b-30 text-center" >
                
                    <h4 class="section-heading text-uppercase letter-spacing-2">Login With BitCaffe</h4>
                    
                </div> <!-- End: Section Header -->
            </div>

            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <div class="row">

                    <div class="registration-form col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
                        <div class="registration-form-outer background-1 shadow">
                            
                            <%=form_tag '/login', method: :post, class: "single-form" do%>

                                <div class="input-outer col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            <!-- <input name="username" class="form-control" type="text" placeholder="Username" required=""> -->
                                            <%= text_field_tag :email, "", placeholder: "Email", class:"form-control" %>
                                        </div>
                                    </div>
                                </div> <!-- End: input -->

                                <div class="input-outer col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                            <!-- <input name="pass" class="form-control" type="password" placeholder="Password" required=""> -->
                                            <%= password_field_tag :password, "", placeholder: "Password", class:"form-control" %>
                                        </div>
                                    </div>
                                </div> <!-- End: input -->

                                <!--<div class="input-outer col-xs-12">-->
                                <!--    <div class="checkbox">-->
                                <!--        <input type="checkbox" id="aggrement-2">-->
                                <!--        <label for="aggrement-2">Remember me</label>-->
                                <!--    </div>-->
                                <!--</div> <!-- End: input -->

                                <!-- Subject Button -->
                                <div class="btn-form input-outer col-xs-12">
                                    <div class="button-outer relative">
                                        <%= button_tag "Login to your Account".html_safe, class: "btn btn-fill full-width"%>
                                    </div>
                                </div>
                            <%end%>
                            
                            <div class="col-xs-12 text-center">
                              <%= link_to "Register new User".html_safe, "/signup", class: "btn"%>
                            </div>

                        </div> <!-- /#-1 -->
                    </div>

                </div>
            </div>


        </div> <!-- End: .row -->
    </div> <!-- End: .container -->
</section>
<!-- End: Header Section
================================ -->