<div class="news-cointainer">
  <br><br><br><br>
  <div class="news-tabs">
    <%= link_to "BITCOIN","#bitcoin", class: 'news-button' %>
    <%= link_to "ALTCOIN","#altcoin", class: 'news-button' %>
    <%= link_to "BLOCKCHAIN","#blockchain", class: 'news-button' %>
    <%= link_to "ICOs","#ico", class: 'news-button' %>
  </div>

  <!-- bitcoin -->
  <section id="bitcoin" class="bitcoin">
    <br><br><br>
    <h1>BITCOIN</h1>
    <% @news_bitcoin.each do |news|%>
    <br>
    <div class="news-article">
      <div class="news-title">
        <%= link_to  news['title'], "#{news['news_url']}", target: '_blank' %>
      </div>
      <div class="news-desc">
        <p><%= sanitize news['description'] %></p>
      </div>
    </div>
    <% end %>
  </section>

  <!-- altcoin -->
  <section id="altcoin" class="altcoin">
    <br><br><br>
    <h1>ALTCOIN</h1>
    <% @news_altcoin.each do |news|%>
    <br>
    <div class="news-article">
      <div class="news-title">
        <%= link_to  news['title'], "#{news['news_url']}", target: '_blank' %>
      </div>
      <div class="news-desc">
        <p><%= sanitize news['description'] %></p>
      </div>
    </div>
    <% end %>
  </section>

  <!-- blockchain -->
  <section id="blockchain" class="blockchain">
    <br><br><br>
    <h1>BLOCKCHAIN</h1>
    <% @news_blockchain.each do |news|%>
    <br>
    <div class="news-article">
      <div class="news-title">
        <%= link_to  news['title'], "#{news['news_url']}", target: '_blank' %>
      </div>
      <div class="news-desc">
        <p><%= sanitize news['description'] %></p>
      </div>
    </div>
    <% end %>
  </section>

  <!-- ico -->
  <section id="ico" class="ico">
    <br><br><br>
    <h1>ICOs</h1>
    <% @news_ico.each do |news|%>
    <br>
    <div class="news-article">
      <div class="news-title">
        <%= link_to  news['title'], "#{news['news_url']}", target: '_blank' %>
      </div>
      <div class="news-desc">
        <p><%= sanitize news['description'] %></p>
      </div>
    </div>
    <% end %>
  </section>
</div>


<!-- Custom Theme JavaScript -->
<script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
      $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
      if ($(this).scrollTop() > 250) {
        if (!fixed) {
          fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                  $('#to-top').css({
                    position: 'fixed',
                    display: 'block'
                  });
                });
              }
            } else {
              if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                  $('#to-top').css({
                    display: 'none'
                  });
                });
              }
            }
          });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
      var that = $(this);
      that.on('click', onMapClickHandler);
      that.off('mouseleave', onMapMouseleaveHandler);
      that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
      var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
          }
        // Enable map zooming with mouse scroll when the user clicks the map
        $('.map').on('click', onMapClickHandler);
      </script>