<div class="resource-container">
<% if current_user && current_user.admin %>
  <br><br>
  <li><%= link_to "Add new resource category", "/resource_categories/new" %></li>
<% end %>
  <br><br>
    <%= form_tag "/resources/search", method: :post do %>
      <div class="search-container">
        <i class="fa fa-search" aria-hidden="true"></i>
        <%= label_tag :"" %>
        <%= text_field_tag :user_search, nil, placeholder:"Type what do you want to learn today?", class: "submissionfield" %>
      <%= submit_tag "Search", class:"btn-primary" %>
      </div>
    <% end %>   
  <div class="row">  
    <div class="resource-block-container">
      <% @resouces.each do |resource| %>
        <div class="col-md-2">
          <div class="resource-block">
            <div class="resource-title">
              <%= link_to "#{resource.name}", "/resources/#{resource.id}"%>
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
