<!-- Start: Header Section
================================ -->
<section class="features-section default-home relative subscrive-section background-2">
    <div class="container">
        <div class="row features-item section-separator-small default-seperator">
            
            <% if current_user && current_user.admin %>
            <div class="each-item-big col-sm-8 col-sm-offset-2 col-xs-12 text-center">
                <div class="inner">
                      <%= link_to "New resource", "/resource/new", class: "btn btn-fill btn-color" %>
                </div>
            </div>
            <% end %>
            
            <div class="clearfix"></div>
            <div class="each-item col-md-8 col-md-offset-2 col-sm-12">
                <div class="inner">
                      
                    <!-- Start: Section Header -->
                    <div class="section-header business-item text-left">
                        <h2 class="section-heading"><%= link_to "Resources", "/resources" %>: <span class="color-text"><%= @resouce.name %></span></h2>
                        <!--<hr class="lines">-->
                    </div> <!-- End: Section Header -->
                
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <div class="tag-list text-left matchHeight col-md-8 col-md-offset-2 col-sm-12">
                <div class="row">
                    <% if @resouce.resources.length > 0 %>
                        <% @resouce.resources.each do |resource| %>
                            <div class="each-item col-xs-12 --">
                                <div class="inner-2 relative">
                                    <a class="err-hide" href="/resource/<%= resource.id %>" title="<%= resource.name %>">
                                        <h4 class="title"><%= resource.name %> </h4>
                                    </a>
                                    <p class="res-description margin-t-15"><%= resource.description[0..220] %>...</p>
                                    
                                    <div class="meta-option like-option">
                                        <%= link_to "Upvote", "/resources/#{resource.id}/like", method: :put, class: "fa fa-long-arrow-up", title: "Like" %>
                                        <% link_to "Downvote", "/resources/#{resource.id}/dislike", method: :put, class: "fa fa-long-arrow-down", title: "Dislike" %>
                                    </div>
                                    
                                    <% if current_user && current_user.admin %>
                                        <div class="meta-option user-option">
                                            <%= link_to "Edit", "/resources/#{resource.id}/edit", class: "fa fa-pencil-square" %>
                                            <%= link_to "Delete", "/resources/#{resource.id}", method: :delete, class: "fa fa-trash" %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    
                    <% end %>
                </div>
            </div>
                    
        </div> <!-- End: .row -->
    </div> <!-- End: .container -->
</section>
<!-- End: Header Section
================================ -->