<div class="res-container">
<% if current_user && current_user.admin %>
  <br>
  <li><%= link_to "New resource", "/resource/new" %></li>
<% end %>
<p class="res-nav"><%= link_to "Resources", "/resources" %> > <%= @resouce.name %> </p>
  <% @resouce.resources.each do |resource| %>
    <div class="res-block">
      <p class="res-name"><%= link_to "#{resource.name}", url_for("/resource/#{resource.id}"), :data => { :reload => true } %></p>
      <%= link_to "upvote", "/resources/#{resource.id}/like", method: :put, class: "fa fa-thumbs-up" %>
      <%= link_to "downvote", "/resources/#{resource.id}/dislike", method: :put, class: "fa fa-thumbs-down" %>
      <br><br>
      <p class="res-description"><%= resource.description %></p>
      <% if current_user && current_user.admin %>
        <li><%= link_to "Edit", "/resources/#{resource.id}/edit" %></li>
        <li><%= link_to "Delete", "/resources/#{resource.id}", method: :delete %></li>
      <% end %>
    </div>
  <% end %>
</div>


<!-- Start: Header Section
================================ -->
<section class="features-section relative subscrive-section background-2">
    <div class="container">
        <div class="row features-item section-separator ">
            
            <% if current_user && current_user.admin %>
            <div class="each-item-big col-sm-8 col-sm-offset-2 col-xs-12 text-center">
                <div class="inner">
                      <%= link_to "New resource", "/resource/new", class: "btn btn-fill btn-color" %>
                </div>
            </div>
            <% end %>
            
            <div class="clearfix"></div>
            <div class="each-item col-xs-12">
                <div class="inner">
                      
                    <!-- Start: Section Header -->
                    <div class="section-header text-left">
                        <h2 class="section-heading"><%= link_to "Resources", "/resources" %>: <%= @resouce.name %></h2>
                        <!--<hr class="lines">-->
                    </div> <!-- End: Section Header -->
                
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <!--<% if @resouce.resources.length > 0 %>-->
            <div class="tag-list light-text text-left">
                
                <% @resouce.resources.each do |resource| %>
                <div class="each-item col-md-3 col-sm-4 col-xs-12">
                    <a class="err-hide" href="/resources/<%= resource.id %>" title="<%= resource.name %>">
                        <div class="inner relative bg-cover bg-overlay-dark" style="background-image: url(<%= asset_path 'resources.png' %>);">
                            <h4 class="title"><%= resource.name %> </h4>
                            <p class="res-description margin-t-15"><%= resource.description %></p>
                            
                            <div class="meta-option">
                                <%= link_to "upvote", "/resources/#{resource.id}/like", method: :put, class: "fa fa-thumbs-up" %>-->
                                <%= link_to "downvote", "/resources/#{resource.id}/dislike", method: :put, class: "fa fa-thumbs-down" %>
                            </div>
                            
                            <% if current_user && current_user.admin %>
                            <div class="meta-option user-option">
                                <%= link_to "Edit", "/resources/#{resource.id}/edit" %>
                                <%= link_to "Delete", "/resources/#{resource.id}", method: :delete %>
                            </div>
                            <% end %>
                        </div>
                    </a>
                </div>
                <% 
                # end 
                # if @resouce.resources.length == 0
                %>
                <!--<div class="each-item-big col-sm-8 col-sm-offset-2 col-xs-12">-->
                        
                    <!-- Start: Section Header -->
                <!--    <div class="section-header text-center">-->
                <!--        <h2 class="section-heading">Sorry we couldn't understand you. Can you please re-frame your question</h2>-->
                <!--    </div> -->
    
                <!--</div>-->
                <!--<% end %>-->
            
            </div>
            <% end %>
                    
        </div> <!-- End: .row -->
    </div> <!-- End: .container -->
</section>
<!-- End: Header Section
================================ -->