<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table info-background">
      <tr>
        <th>Product Name</th>
        <th>Image</th>
        <th>Quantity</th>
        <th>Price Per Product</th>
      </tr>
      <% @order.carted_products.each do |carted_product| %>
      <tr>
        <td><%= carted_product.product.name %></td>
        <td> <img class=width="200" height="200" src="<%= carted_product.product.images.first.url if carted_product.product.images.any? %>"> </td>
        <td><%= carted_product.quantity %></td>
        <td><%= number_to_currency(carted_product.product.price) %></td>
      </tr>
      <% end %>
    </table>
    <ul>
      <li>Subtotal: <%= number_to_currency(@order.subtotal) %></li>
      <li>Tax: <%= number_to_currency(@order.tax) %></li>
      <li>Total: <%= number_to_currency(@order.total) %></li>
    </ul>
  </div>

</div>