<body>
    <blockquote>
    <h1 class="blockquote-font">Latest Articles & Tweets</h1>
    </blockquote>
<!-- BEGIN wrapper -->
<div id="wrapper">
  <!-- BEGIN content -->
  <div id="content">
    <!-- begin post -->
    <% @posts.each do |post| %>
    <div class="post">
      <p class="details1"><%= post['published'][0..9]%> / <%= post['author'].partition(" ")[0] %></p>
      <div class="buffer">
        <div class="content"> 
        <% if post['thread']['main_image'] %>
          <%= link_to image_tag("#{post['thread']['main_image']}"), "#{post['url']}", target: :_blank%>
        <% else %>
          <%= link_to image_tag("bitcoins-default.jpg"), "#{post['url']}", target: :_blank %>
        <% end %>
          <h2><%= link_to post['title'], "#{post['url']}", target: :_blank %></h2>
        </div>
      </div>
    </div>
    <!-- end post -->
    <% end %>
  </div>
  <!-- END content -->
  <!-- BEGIN sidebar -->
  <div id="sidebar">
    <!-- begin popular articles -->
    <div class="box">
      <a href="https://twitter.com/Bitcoinnews6"
      class="twitter-follow-button"
      data-show-count="true"
      data-size="large">Follow @BitcoinCaffe</a>
      <a class="twitter-timeline"
      href="https://twitter.com/Bitcoinnews6"
      data-tweet-limit="20">Bitcoin Twitter</a>
    </div>
    <!-- end popular articles -->
  </div>
  <!-- END sidebar -->
</div>
<!-- END wrapper -->
<!-- BEGIN footer -->
<div id="footer">
</div>
<!-- END footer -->
</body>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
  t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>