<!-- Start: Header Section
================================ -->
<section class="header-section-1 default-home relative bg-overlay-3 bg-cover" style="background-image: url(<%= asset_path 'bg-3.jpg' %>);">
    <div class="container">
        <div class="row section-separator default-seperator">

             <div class="cd-content-animation text-center light-text">
                <!-- Start: Section Header -->
                <div class="section-header relative col-md-10 col-md-offset-1 col-sm-12" >
                
                    <h4 class="section-heading">Well done! You have taken a step towards understanding the potential of decentralization. It is going to be huge <i class="fa fa-smile-o" aria-hidden="true"></i></h4>
                    <h4 class="section-heading margin-t-25">Please go through the video/essay below, and ponder over it. We guarantee, you will know more than 99% of your colleagues.</h4>
                    
                </div> <!-- End: Section Header -->

                <div class="clearfix">  </div>

                <!--<div class="btn-form margin-t-40 col-xs-12">-->
                <!--    <a href="/beginner_lp" class="btn btn-fill btn-color right-icon">Learn More</a>-->
                    <!--<a href="#" class="btn btn-fill-big btn-dark">Contact us</a>-->
                <!--</div>-->
            </div>

        </div> <!-- End: .row -->
    </div> <!-- End: .container -->
</section>
<!-- End: Header Section
================================ -->





<!-- Start: Features Section
================================== -->
<section class="features-section relative background-2">
    <div class="container">
        <div class="row section-separator-small">

            <div class="features-item col-xs-12">
                <div class="row">

                    <div class="each-item-big tab-item margin-b-20 col-md-6 col-sm-12">
                        <div class="tab-inner">

                            <!-- Start: Section Header -->
                            <div class="section-header margin-b-40" >
                            
                                <h2 class="section-heading">Video</h2>
                                
                            </div> <!-- End: Section Header -->
                            
                            <div role="tabpanel">

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#2m-video" data-toggle="tab">2 minutes</a></li>
                                    <li role="presentation"><a href="#5m-video" data-toggle="tab">5 minutes</a></li>
                                    <li role="presentation"><a href="#10m-video" data-toggle="tab">10 minutes</a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane tab-small active" id="2m-video">
                                        
                                        <div class="carousel-container features-content">
                                            <div class="carousel-wrapper owl-carousel">
                                              <% @videos_two.each do |video| %>
                                                <% str1 = "#{video.link}" %>
                                                <% str2 = str1.split("=") %>
                                                <div class="item">
                                                    <div class="item-inner text-center">
                                    
                                                        <!--  Start: Video Area  "PASTE YOUR VIDEO LINK HERE " -->
                                                        <div class="video background-2">
                                                            <%= content_tag(:iframe,'', src: "https://www.youtube.com/embed/#{str2[1]}?color=ffc300&title=0&byline=0&portrait=0", class: "video-async") %>
                                                           <!-- <iframe class="video-async" data-source="vimeo"  data-color="ffc300" src="https://www.youtube.com/embed/<%= str2[1] %>?color=ffc300&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> --> <!--  Video Link Goes Here--> 
                                                        </div>
                                                        <!--  End: Video Area  -->
                                                        <div class="margin-t-20">
                                                            <h4></h4>
                                                        </div>
                                                       
                                                    </div>
                                                </div> <!-- End: .item -->
                                                <% end %>
                                                
                                            </div> <!-- End: .carousel-wrapper -->
                                        </div> <!-- End: .carousel-container -->
                                        
                                    </div> <!-- End: .tab-pane tab-small -->
                                    <div role="tabpanel" class="tab-pane tab-small" id="5m-video">
                                        
                                        <div class="carousel-container features-content">
                                            <div class="carousel-wrapper owl-carousel">
                                              
                                                <% @videos_five.each do |video| %>
                                                    <% str1 = "#{video.link}" %>
                                                    <% str2 = str1.split("=") %>
                                                <div class="item">
                                                    <div class="item-inner text-center">
                                    
                                                        <!--  Start: Video Area  "PASTE YOUR VIDEO LINK HERE " -->
                                                        <div class="video background-2">
                                                        <%= content_tag(:iframe,'', src: "https://www.youtube.com/embed/#{str2[1]}?color=ffc300&title=0&byline=0&portrait=0", class: "video-async") %>
                                                           <!-- <iframe class="video-async" data-source="vimeo"  data-color="ffc300" src="https://www.youtube.com/embed/<%= str2[1] %>?color=ffc300&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> --> <!--  Video Link Goes Here--> 
                                                        </div>
                                                        <!--  End: Video Area  -->
                                                        <div class="margin-t-20">
                                                            <h4></h4>
                                                        </div>
                                                       
                                                    </div>
                                                </div> <!-- End: .item -->
                                                <% end %>
                                                
                                            </div> <!-- End: .carousel-wrapper -->
                                        </div> <!-- End: .carousel-container -->
                                        
                                    </div> <!-- End: .tab-pane tab-small -->
                                    <div role="tabpanel" class="tab-pane tab-small" id="10m-video">
                                        
                                        <div class="carousel-container features-content">
                                            <div class="carousel-wrapper owl-carousel">
                                              
                                                <% @videos_ten.each do |video| %>
                                                <% str1 = "#{video.link}" %>
                                                <% str2 = str1.split("=") %>
                                                <div class="item">
                                                    <div class="item-inner text-center">
                                    
                                                        <!--  Start: Video Area  "PASTE YOUR VIDEO LINK HERE " -->
                                                        <div class="video background-2">
                                                        <%= content_tag(:iframe,'', src: "https://www.youtube.com/embed/#{str2[1]}?color=ffc300&title=0&byline=0&portrait=0", class: "video-async") %>
                                                           <!-- <iframe class="video-async" data-source="vimeo"  data-color="ffc300" src="https://www.youtube.com/embed/<%= str2[1] %>?color=ffc300&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> --> <!--  Video Link Goes Here--> 
                                                        </div>
                                                        <!--  End: Video Area  -->
                                                        <div class="margin-t-20">
                                                            <h4></h4>
                                                        </div>
                                                       
                                                    </div>
                                                </div> <!-- End: .item -->
                                                <% end %>
                                                
                                            </div> <!-- End: .carousel-wrapper -->
                                        </div> <!-- End: .carousel-container -->
                                        
                                    </div> <!-- End: .tab-pane tab-small -->
                                </div> <!-- End: .tab-content -->

                            </div>

                        </div>
                    </div> <!-- End: .each-item -->

                    <div class="each-item-big tab-item margin-b-20 col-md-6 col-sm-12">
                        <div class="tab-inner">

                            <!-- Start: Section Header -->
                            <div class="section-header margin-b-40" >
                            
                                <h2 class="section-heading">Essays</h2>
                                
                            </div> <!-- End: Section Header -->
                            
                            <div role="tabpanel">

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#business" data-toggle="tab">Business</a></li>
                                    <li role="presentation"><a href="#technical" data-toggle="tab">Technical</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content business-item">
                                    
                                    <div role="tabpanel" class="tab-pane tab-small active" id="business">
                                        
                                        <div class="carousel-container features-content">
                                            <div class="carousel-wrapper owl-carousel">
                                              
                                                <div class="item">
                                                    <div class="item-inner text-left">
                                                        
                                                        <div class="live-link-preview">https://dealbook.nytimes.com/2014/01/21/why-bitcoin-matters/</div>
                                                        
                                                        <!-- Button Area -->
                                                        <div class="btn-form btn-interest">
                                                            <a target="_blank" class="btn right-icon btn-dark btn-fill" href="https://dealbook.nytimes.com/2014/01/21/why-bitcoin-matters/">
                                                                READ MORE 
                                                                <i class="fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                       
                                                    </div>
                                                </div> <!-- End: .item -->
                                                <div class="item">
                                                    <div class="item-inner text-left">
                                                        
                                                        <div class="live-link-preview">http://avc.com/2017/06/icos-and-vcs/</div>
                                                        
                                                        <!-- Button Area -->
                                                        <div class="btn-form btn-interest">
                                                            <a target="_blank" class="btn right-icon btn-dark btn-fill" href="http://avc.com/2017/06/icos-and-vcs/">
                                                                READ MORE 
                                                                <i class="fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                       
                                                    </div>
                                                </div> <!-- End: .item -->
                                                <div class="item">
                                                    <div class="item-inner text-left">
                                                        
                                                        <div class="live-link-preview">https://startupboy.com/2013/11/07/bitcoin-the-internet-of-money/</div>
                                                        
                                                        <!-- Button Area -->
                                                        <div class="btn-form btn-interest">
                                                            <a target="_blank" class="btn right-icon btn-dark btn-fill" href="https://startupboy.com/2013/11/07/bitcoin-the-internet-of-money/">
                                                                READ MORE 
                                                                <i class="fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                       
                                                    </div>
                                                </div> <!-- End: .item -->
                                                
                                            </div> <!-- End: .carousel-wrapper -->
                                        </div> <!-- End: .carousel-container -->
                                    </div> <!-- End: .tab-pane tab-small -->
                                    <div role="tabpanel" class="tab-pane tab-small" id="technical">
                                        
                                        <div class="carousel-container features-content">
                                            <div class="carousel-wrapper owl-carousel">
                                              
                                                <div class="item">
                                                    <div class="item-inner text-left">
                                                        
                                                        <iframe src="https://bitcoin.org/bitcoin.pdf" height="180px" name="iframe_a" class="thumbnail bg-cover" ></iframe>
                                                        
                                                        <!-- Button Area -->
                                                        <div class="btn-form btn-interest">
                                                            <a target="_blank" class="btn right-icon btn-dark btn-fill" href="https://bitcoin.org/bitcoin.pdf" download>
                                                                Download PDF 
                                                                <i class="fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                       
                                                    </div>
                                                </div> <!-- End: .item -->
                                                <div class="item">
                                                    <div class="item-inner text-left">
                                                        
                                                        <div class="live-link-preview">https://startupboy.com/2014/04/01/the-fifth-protocol/</div>
                                                        
                                                        <!-- Button Area -->
                                                        <div class="btn-form btn-interest">
                                                            <a target="_blank" class="btn right-icon btn-dark btn-fill" href="https://startupboy.com/2014/04/01/the-fifth-protocol/">
                                                                READ MORE
                                                                <i class="fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        
                                                    </div>
                                                </div> <!-- End: .item -->
                                                <div class="item">
                                                    <div class="item-inner text-left">
                                                        <img src="https://cdn-images-1.medium.com/max/2000/1*GVTJpn1kD0GZdR8n5tTVMg.jpeg" class="thumbnail img-responsive" >
                                    
                                                        <!-- Start: Section Header -->
                                                        <div class="section-header">
                                                            <h4 class="section-heading">Bitcoin, Ethereum, Blockchain, Tokens, ICOs: Why should anyone care?</h4>
                                                            <p class="post-meta">
                                                                By <a href="#">Preethi Kasireddy</a>, <a href="#">Jul 5, 2017</a> 
                                                            </p>
                                                        </div>
                                                        <!-- End: Section Header -->
        
                                                        <div class="detail small-spacing">
                                                            <p>You may have heard of an “Initial Public Offering” (IPO) — when a company goes public by selling some of its shares to institutional investors, who in turn sell to the general public on the securities exchange. The public gets excited about IPOs because they let anyone with a brokerage account purchase shares of companies like Snapchat...</p>
                                                        </div>
        
                                                        <!-- Button Area -->
                                                        <div class="btn-form btn-interest">
                                                            <a target="_blank" class="btn right-icon btn-dark btn-fill" href="https://startupboy.com/2014/04/01/the-fifth-protocol/">
                                                                READ MORE
                                                                <i class="fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                       
                                                    </div>
                                                </div> <!-- End: .item -->
                                                
                                            </div> <!-- End: .carousel-wrapper -->
                                        </div> <!-- End: .carousel-container -->
                                    </div> <!-- End: .tab-pane tab-small -->
                                    
                                </div> <!-- End: .tab-content -->

                            </div>
                        </div>
                    </div> <!-- End: .each-item -->  
                    
                    <div class="clearfix"></div>
                    
                    <div class="col-xs-12 text-center">
                        <h3>Want to learn more. Visit <%= link_to "Resources","/resources" %> page.</h3>
                    </div>

                </div> <!-- End: .row -->
            </div> <!-- End: .features-item -->
            

        </div> <!-- End: .row -->
    </div> <!-- End: .container -->
</section>
<!-- End: Features Section
================================== -->




<!-- Start: Features Section
================================== -->
<!--<section class="features-section background-1"> -->
<!--    <div class="container">-->
<!--        <div class="row">-->
            
<!--            <div class="col-xs-12"> -->
<!--                <h2 class="contact-button text-center">-->
<!--                    <span>Fun Facts</span>-->
<!--                </h2>-->
<!--            </div>-->
            
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- End: Features Section
================================== -->



<script async src="https://guteurls.de/guteurls.js" selector=".live-link-preview"></script>
<script type="text/javascript">
(function($) {
  'use strict';
  
  $(document).ready( function() {
    
    //   $('.live-link-preview').find('iframe').find('head').append('<style type="text/css">.story{border: 0px solid !important;}</style>');

  });
  
} (jQuery) );
</script>