<!-- Start: Header Section
================================ -->
<section class="features-section relative default-home subscrive-section background-2">
    <div class="container">
        <div class="row features-item section-separator-small default-seperator">
          
            <div class="each-item-big col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="inner">
                <h1 align="center">Choose a coin to get it's info</h1>
<!--                     <forn class="single-form search-form search-big" action="" method="POST">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div><!-- /.input-group -->
                    <!-- </form> -->

                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <div class="each-item-big col-xs-12 text-center">
                <div class="inner">

                    <div class="tag-list text-center">
                        
                        <% @coins.each do |coin| %>
                            <div class="tag relative bg-cover bg-overlay-dark shadow" style="background-image: url(<%= coin.image_url %>);">
         
                                <%= link_to "/coins/#{coin.id}", :data => { :reload => true } do %>
                                    <%= image_tag("#{coin.image_url}", :alt => "", :class =>"img-responsive") %>
                                    <%= content_tag(:p, "#{coin.symbol}", :class =>"margin-t-15") %>
                                <% end %>
                                
                                
                                <!--<div class="share-link">-->
                                <!--    <a href="<%= coin.twitter_link %>" title="Twitter Link" target="_blank"><i class="fa fa-twitter"></i></a>-->
                                <!--    <a href="<%= coin.reddit_link %>" title="Reddit Link" target="_blank"><i class="fa fa-reddit-alien"></i></a>-->
                                <!--</div>-->
                            </div>
                        <% end %>
                    </div>

                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <!-- Start: Section Header -->
            <div class="business-item section-header text-left col-xs-12 margin-b-15">
                <h2 class="section-heading">News</h2>
                <!--<hr class="lines">-->
            </div> <!-- End: Section Header -->
            
            <div class="clearfix"></div>
            
            <div class="each-item business-item col-md-6 col-sm-12">
              
                <div class="carousel-container margin-b-50 features-content">
                    <div class="inner-small shadow load-more-init">
                        
                        <% @posts.each do |post| %>
                        <div class="each-item load-item business-item">
                            <div class="each-item-inner">
                                
                                <% if post.main_image %>
                                    <div class="vertical-middle features-image bg-cover col-sm-4 col-xs-12" style="background-image: url(<%= post.main_image %>);"></div>
                                <% else %>
                                    <div class="vertical-middle features-image bg-cover col-sm-4 col-xs-12" style="background-image: url(<%= asset_path 'bitcoins-default.jpg' %>);"></div>
                                <% end %>

                                <div class="vertical-middle features-content col-sm-8 col-xs-12">
                                    <div class="row">
                                        <div class="item-inner text-left margin-l-15">
                                
                                            <!--<div class="thumbnail bg-cover" style="background-image: url(https://www.incimages.com/uploaded_files/image/284x160/1940_334982.jpg); height: 180px;"></div>-->
                        
                                            <!-- Start: Section Header -->
                                            <div class="section-header">
                                                <h4 class="section-heading"><a href="<%= post.news_url %>" target="_blank"><%= post.title[0..50] %>...</a></h4>
                                                <p class="post-meta">
                                                    By <%= post.author %>, <%= post.published%> 
                                                </p>
                                            </div>
                                            <!-- End: Section Header -->
        
                                            <div class="detail small-spacing">
                                                <p><%= post.description[0..60] %>...</p>
                                            </div>
                                            
                                            <div class="share-outer margin-t-15">
                                                <!--<div class="addthis_inline_share_toolbox "></div>-->
                                                <div class="addthis_toolbox addthis_default_style">
                                                  <a class="addthis_button_facebook"><span class="share facebook"><i class="fa fa-facebook" aria-hidden="true"></i> <%= post.facebook_share %></span></a>
                                                  <a class="addthis_button_linkedin"><span class="share linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i> <%= post.linkedin_share %></span></a>
                                                  <a class="addthis_button_twitter"><span class="share twitter"><i class="fa fa-twitter" aria-hidden="true"></i> 0</span></a>
                                                </div>
                                            </div>
        
                                            <!-- Button Area -->
                                            <div class="btn-form btn-interest">
                                                <a href="<%= post.news_url %>" target="_blank" class="btn right-icon">READ MORE <i class="fa fa-long-arrow-right"></i></a>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <% end %>
                         
                        <button data-reload="false" class="loadMore btn btn-fill btn-dark full-width">Load More</button>
                        
                    </div> <!-- End: .carousel-wrapper -->
                </div> <!-- End: .carousel-container -->
                
            </div> <!-- End: .each-item -->
            <div class="each-item tab-item col-md-6 col-sm-12">
                <div class="tab-inner">
                    
                    <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#reddit-tab" data-toggle="tab">Reddit</a></li>
                        <li role="presentation"><a href="#twitter" data-toggle="tab">Twitter</a></li>
                    </ul>
    
                    <!-- Tab panes -->
                    <div class="tab-content ">
                        <div role="tabpanel" class="tab-pane no-padding active" id="reddit-tab">
                            
                            <div id="reddit" class="text-left no-header"> </div> 
                                    
                        </div> <!-- End: .tab-pane -->
                        <div role="tabpanel" class="tab-pane twitter-feed" id="twitter">
                            
                             <a class="twitter-timeline" href="https://twitter.com/bitcoin">Tweets by @bitcoin</a>
                
                        </div> <!-- End: .tab-pane -->
                        
                    </div> <!-- End: .tab-content -->
    
                </div>
                
                </div>
            </div> <!-- End: .each-item -->
                    
        </div> <!-- End: .row -->
    </div> <!-- End: .container -->
</section>
<!-- End: Header Section
================================ -->



<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- Go to www.addthis.com/dashboard to customize your tools --> 
<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59bf0f900e22530f"></script> -->

<style>
.load-more-init .load-item {
    display:none;
}
</style>
<script>
(function($) {
    'use strict';
    
    $(document).ready( function() {
        var loadMoreID = '.load-more-init',
            perItemID = '.load-item';
        // $($loadMoreID).find($perItemID).hide();
        $(loadMoreID).find(perItemID).slice(0, 4).show();
        $(loadMoreID).find(".loadMore").on('click', function (e) {
            e.preventDefault();
            var mainID = $(this).closest(loadMoreID);
            mainID.find(perItemID+":hidden").slice(0, 4).slideDown();
            if (mainID.find(perItemID+":hidden").length == 0) {
                $(this).fadeOut('slow');
            }
            $('html,body').animate({
                scrollTop: $(this).offset().top
            }, 1500);
        });
    });
} (jQuery) );
</script>


<script>
$(document).ready(function() {
    
        /* Reddit lazy load hack */
        var oScript = document.createElement("script");
        document.write = function(text) {
            document.getElementById("reddit").innerHTML += text;
        };
        oScript.src = "https://www.reddit.com/r/bitcoin.embed?limit=9";
        document.body.appendChild(oScript);
    

    setTimeout(function() {
        document.title = "Bitcoin (BTC) $16247.40 (16.32%) | CoinMarketCap";
    }, 10000);


});

const PHRASES = {
    contextButtonTitle: "Chart context menu",
    downloadCSV: "Download CSV",
    downloadJPEG: "Download JPEG image",
    downloadPDF: "Download PDF document",
    downloadPNG: "Download PNG image",
    downloadSVG: "Download SVG vector image",
    downloadXLS: "Download XLS",
    drillUpText: "Back to {series.name}",
    loading: "Loading...",
    noData: "No data to display",
    printChart: "Print chart",
    resetZoom: "Reset zoom",
    resetZoomTitle: "Reset zoom level 1:1",
    viewData: "View data table",
    '1d': "1d",
    '7d': "7d",
    '1m': "1m",
    '3m': "3m",
    '1y': "1y",
    'ytd': "YTD",
    'all': "ALL",
    dateFormat: "%A, %b %d %Y, %H:%M:%S UTC",
    months: {
        full: {mar: 'March',feb: 'February',aug: 'August',sep: 'September',apr: 'April',jun: 'June',jul: 'July',jan: 'January',may: 'May',nov: 'November',dec: 'December',oct: 'October'},
        short: {mar: 'Mar',feb: 'Feb',aug: 'Aug',sep: 'Sep',apr: 'Apr',jun: 'Jun',jul: 'Jul',jan: 'Jan',may: 'May',nov: 'Nov',dec: 'Dec',oct: 'Oct'}
    },
    weekdays: {
        full: {wed: 'Wednesday',sun: 'Sunday',thu: 'Thursday',mon: 'Monday',fri: 'Friday',tue: 'Tuesday',sat: 'Saturday'},
        short: {wed: 'Wed',sun: 'Sun',thu: 'Thu',mon: 'Mon',fri: 'Fri',tue: 'Tue',sat: 'Sat'}
    },
    emptyTable: "No data available in table",
    zeroRecords: "No matching records found",
    sortAscending: ": activate to sort column ascending",
    sortDescending: ": activate to sort column descending",
    'K': "K",
    'M': "M",
    'B': "B",
    'T': "T",
    chartTitle: "Bitcoin Charts",
    marketCap: "Market Cap",
    priceUSD: "Price (USD)",
    priceBTC: "Price (BTC)",
    
    volume: "24h Vol"
};
var polyglot = new Polyglot({phrases: PHRASES});
</script>