<blockquote>
  <h1 class="blockquote-font">Resources</h1>
</blockquote>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 left">
    <div class="resources-container">
      <div class="resources-block">
        <ul class="resources-list-head"> Getting Started: </ul>
        <ul><%= link_to "Explain Bitcoin Like I'm Five", "https://medium.com/@nik5ter/explain-bitcoin-like-im-five-73b4257ac833", target: :_blank %> </ul>
        <ul><%= link_to "The Bitcoin Whitepaper ", "https://bitcoin.org/bitcoin.pdf", target: :_blank %> written by Satoshi Nakamoto</ul>
        <ul><%= link_to "The Big Picture ","https://www.youtube.com/watch?v=JIxwTx7o_B4", target: :_blank %> (non-technical)</ul>
        <ul><%= link_to "The Value of Blockchains ", "https://www.youtube.com/watch?v=YIVAluSL9SU", target: :_blank %>(non-technical, beyond just currency)</ul>
        <ul><%= link_to "How Bitcoin Works in 5 Minutes","https://www.youtube.com/watch?v=l9jOJk30eQs", target: :_blank %> (5 min video)</ul>
        <ul><%= link_to "How Bitcoin Works Under the Hood","https://www.youtube.com/watch?v=Lx9zgZCMqXE", target: :_blank %> (22 min video)</ul>
        <ul><%= link_to "Epic List of YouTube explainers","https://www.youtube.com/playlist?list=PL05dEp7goGNiKWYdiE4nurEPFMmF9XpzF", target: :_blank %></ul>
        <ul><%= link_to "Another Epic List of YouTube Talks","https://github.com/Xel/Blockchain-stuff#talks", target: :_blank %></ul>
        <ul><%= link_to "Beginner's Guide to Bitcoin by CoinDesk","http://www.coindesk.com/information/", target: :_blank %></ul>
        <ul><%= link_to "Bitcoin is Like...","http://blog.oleganza.com/post/85111558553/bitcoin-is-like", target: :_blank %></ul>
        <ul><%= link_to "Original Bitcoin Wiki ","https://en.bitcoin.it/wiki/Main_Page", target: :_blank %>(may be out of date)</ul>
      </div>
      <div class="resources-block">
        <ul class="resources-list-head"> Online Courses: </ul>
        <ul><%= link_to "In-depth Udemy Course ","https://www.udemy.com/bitcoin-or-how-i-learned-to-stop-worrying-and-love-crypto/", target: :_blank %> (over 8 hours of video tutorials)</ul>
        <ul><%= link_to "Coursera Cryptocurrency Course ","https://www.coursera.org/learn/cryptocurrency", target: :_blank %> (61 videos in 11 sections)</ul>
        <ul><%= link_to "Khan Academy Bitcoin Course ","https://www.khanacademy.org/economics-finance-domain/core-finance/money-and-banking/bitcoin/v/bitcoin-what-is-it", target: :_blank %> (9 ~10 minute videos)</ul>
        <ul><%= link_to "Bitcoin 101 Blackboard Series ","https://www.youtube.com/playlist?list=PLzctEq7iZD-7-DgJM604zsndMapn9ff6q" , target: :_blank %> (over 7 hours of video tutorials)</ul>
        <ul><%= link_to "Introduction to Bitcoin ","https://www.pluralsight.com/courses/bitcoin-decentralized-technology", target: :_blank %> (3 hour course available via free trial)</ul>
        <ul><%= link_to "Introduction to Digital Currency ","http://digitalcurrency.unic.ac.cy/free-introductory-mooc/", target: :_blank %> - MOOC offered by University of Nicosia</ul>  
      </div>
      <div class="resources-block">
        <ul class="resources-list-head"> Deep Dive Technical Resources: </ul>
        <ul><%= link_to "Bitcoin & Cryptocurrency Technologies ","https://d28rh4a8wq0iu5.cloudfront.net/bitcointech/readings/princeton_bitcoin_book.pdf?a=1", target: :_blank %>(Princeton's 300 page textbook)</ul>
        <ul><%= link_to "Bitcoin Developer Guide","https://bitcoin.org/en/developer-guide", target: :_blank %></ul>
        <ul><%= link_to "Bitcoin Ninja","http://bitcoin.ninja/", target: :_blank %></ul>
        <ul><%= link_to "Bitcoin Protocol Specification","http://enetium.com/resources/Bitcoin.pdf", target: :_blank %></ul>
        <ul><%= link_to "Epic List of Research Papers","https://docs.google.com/spreadsheets/d/1VaWhbAj7hWNdiE73P-W-wrl5a0WNgzjofmZXe0Rh5sg/edit?pli=1#gid=0", target: :_blank %></ul>
        <ul><%= link_to "How the Bitcoin Protocol Actually Works","http://www.michaelnielsen.org/ddi/how-the-bitcoin-protocol-actually-works/", target: :_blank %></ul>
        <ul><%= link_to "Mastering Bitcoin","https://github.com/bitcoinbook/bitcoinbook/blob/develop/book.asciidoc", target: :_blank %></ul>
        <ul><%= link_to "Epic List of Bitcoin Books","https://github.com/Xel/Blockchain-stuff#bitcoin", target: :_blank %></ul>
        <ul><%= link_to "Epic List of Many Blockchain Books","https://github.com/Xel/Blockchain-stuff#blockchain-books", target: :_blank %></ul>
        <ul><%= link_to "Programming the Blockchain in C#","https://programmingblockchain.gitbooks.io/programmingblockchain/content/", target: :_blank %></ul>
      </div>
      <div class="resources-block">
        <ul class="resources-list-head"> Documentaries: </ul>
        <ul><%= link_to "Bitcoin Films","http://bitcoinfilm.org/documentaries/", target: :_blank %></ul>
        <ul><%= link_to "Bitcoin in Uganda","https://www.youtube.com/watch?v=BrRXP1tp6Kw", target: :_blank %></ul>
        <ul><%= link_to "Inside Man with Morgan Spurlock","http://www.disclose.tv/action/viewvideo/198650/Morgan_Spurlock__Living_On_Bitcoin__The_Inside_Man_Bitcoin_CNN_Full_Documentary/", target: :_blank %></ul>
        <ul><%= link_to "Life Inside a Secret Chinese Bitcoin Mine","https://www.youtube.com/watch?v=K8kua5B5K3I", target: :_blank %></ul>
        <ul><%= link_to "The Bitcoin Doco","http://thebitcoindoco.com/?p=202", target: :_blank %></ul>
      </div>
      <div class="resources-block">
        <ul class="resources-list-head"> The History of Bitcoin: </ul>
        <ul><%= link_to "The Rise of the Cypherpunks","http://www.coindesk.com/the-rise-of-the-cypherpunks/", target: :_blank %></ul>
        <ul><%= link_to "Complete Writings of Satoshi Nakamoto","http://satoshi.nakamotoinstitute.org/", target: :_blank %></ul>
        <ul><%= link_to "Historical Literature ","http://nakamotoinstitute.org/literature/", target: :_blank %>- work that preceded Bitcoin</ul>
        <ul><%= link_to "History Timeline","http://historyofbitcoin.org/", target: :_blank %></ul>
        <ul><%= link_to "Premature Obituaries","https://99bitcoins.com/bitcoinobituaries/", target: :_blank %></ul>
      </div>
      <div class="resources-block">
        <ul class="resources-list-head"> Bitcoin Conference Presentations: </ul>
        <ul><%= link_to "Bitcoin Africa Conference","https://www.youtube.com/channel/UCni7PAlyNS0_12H-26DJJ3w/videos", target: :_blank %></ul>
        <ul><%= link_to "Bitcoin Investor Conference","https://www.youtube.com/channel/UC5Q6ilav_fQUdPI1Xwax92Q/videos", target: :_blank %></ul>
        <ul><%= link_to "Bitcoin London 2012","https://www.youtube.com/playlist?list=PLDWyZdgRl406QopZcKUw7HYZd_aQRvMhK", target: :_blank %></ul>
        <ul><%= link_to "Construct","http://www.coindesk.com/events/construct-2017/videos/", target: :_blank %></ul>
        <ul><%= link_to "Cryptolina","https://www.youtube.com/playlist?list=PL3B4UprvrK0PL2RgS63GL0Ne5l58G_k8W", target: :_blank %></ul>
        <ul><%= link_to "Dubai Bitcoin Conference 2015","https://bitcointalk.org/index.php?topic=970988.0", target: :_blank %></ul>
        <ul><%= link_to "Dutch Blockchain Conference","https://www.youtube.com/channel/UCwZd23Wi1uH5pkvrYcw0WvA", target: :_blank %></ul>
        <ul><%= link_to "European Bitcoin Conference 2011","https://www.youtube.com/playlist?list=PL3B4UprvrK0P6GvaSyaoyJHRijTaV6Dth", target: :_blank %></ul>
        <ul><%= link_to "North American Bitcoin Conference 2017","https://www.youtube.com/playlist?list=PL4CxcnSy5_bi7_p64hWjVR9OWoJohphvQ", target: :_blank %></ul>
        <ul><%= link_to "On-Chain Scaling Conference","https://www.youtube.com/channel/UCgw99sImtN_oAnF856-KUEA/playlists?shelf_id=0&view=1&sort=dd", target: :_blank %></ul>
        <ul><%= link_to "San Jose Bitcoin Conference 2013","https://www.youtube.com/channel/UCDUNNUNPAnv2epBYrxYXD_Q/videos", target: :_blank %></ul>
        <ul><%= link_to "Scaling Bitcoin Workshop","https://scalingbitcoin.org/presentations", target: :_blank %></ul>
        <ul><%= link_to "Texas Bitcoin Conference","http://texasbitcoinconference.com/video", target: :_blank %></ul>
        <ul><%= link_to "The Bitcoin Conference 2016","http://thebitcoinconference.com/", target: :_blank %></ul>
        <ul><%= link_to "World's First Bitcoin Conference (2011)","https://www.youtube.com/playlist?list=PL3B4UprvrK0OhxNxac-F_jHKjF_nN4sFA", target: :_blank %></ul>
      </div>
      <div class="resources-block">
        <ul class="resources-list-head">Staying Up-to-date:</ul>
        <ul><%= link_to "Bitcoin Subreddit","https://www.reddit.com/r/Bitcoin/", target: :_blank %></ul>
        <ul><%= link_to "Bitcoin Beginners Subreddit","https://www.reddit.com/r/BitcoinBeginners/", target: :_blank %></ul>
        <ul><%= link_to "Coindesk","http://www.coindesk.com/", target: :_blank %></ul>
        <ul><%= link_to "Let's Talk Bitcoin ","https://letstalkbitcoin.com/", target: :_blank %>(recurring podcast)</ul>
        <ul><%= link_to "Epic List of YouTube Channels","https://github.com/Xel/Blockchain-stuff#youtube-channels", target: :_blank %></ul>
        <ul><%= link_to "People to follow on Twitter","https://twitter.com/login?redirect_after_login=%2Flopp%2Ffollowing", target: :_blank %></ul>
      </div>
      <div class="resources-block">
        <ul class="resources-list-head">Miscellaneous Bitcoin Stats:</ul>
        <ul><%= link_to "Blockchain Charts","https://blockchain.info/charts", target: :_blank %></ul>
        <ul><%= link_to "Bitcoin Charts","http://bitcoincharts.com/", target: :_blank %></ul>
        <ul><%= link_to "Bitcoin Nodes by Country","https://bitnodes.21.co/", target: :_blank %></ul>
        <ul><%= link_to "Bitcoin Queue ","https://www.bitcoinqueue.com/details/", target: :_blank %>- mempool fee stats</ul>
        <ul><%= link_to "Bitcoin Richlist ","https://bitcoinprivacy.net/richlist", target: :_blank %>- see the distribution of wealth</ul>
        <ul><%= link_to "Bitcoinity ","https://data.bitcoinity.org/markets/volume/30d?c=e&t=b", target: :_blank %>- Exchange & Blockchain stats</ul>
        <ul><%= link_to "BitInfoCharts ","https://bitinfocharts.com/cryptocurrency-charts.html", target: :_blank %>(Comparison of misc cryptocurrencies)</ul>
        <ul><%= link_to "OP_RETURN Stats","http://opreturn.org/", target: :_blank %></ul>
        <ul><%= link_to "OXT ","https://oxt.me/", target: :_blank %>- blockchain explorer + privacy analysis</ul>
        <ul><%= link_to "P2SH.info ","https://p2sh.info/", target: :_blank %>- many historical block & transaction stats</ul>
        <ul><%= link_to "Statoshi.info ","http://statoshi.info/", target: :_blank %>- realtime Bitcoin node stats</ul>
        <ul><%= link_to "TradeBlock ","https://tradeblock.com/bitcoin/", target: :_blank %>- realtime block & mempool stats</ul>
      </div>
      <div class="resources-block">
        <ul class="resources-list-head">Buying / Selling bitcoins:</ul>
        <ul><%= link_to "How to buy bitcoins","https://howtobuybitcoins.info/#!/", target: :_blank %></ul>
        <ul><%= link_to "Bitcoin ATM Map","http://bitcoinatmmap.com/", target: :_blank %></ul>
        <ul><%= link_to "Local Bitcoins","https://localbitcoins.com/", target: :_blank %></ul>
      </div>
      <div class="resources-block">
        <ul class="resources-list-head">Mining:</ul>
        <ul><%= link_to "The History of Bitcoin Mining","https://www.cloudminingdirectory.com/bitcoin-mining/history-of-bitcoin-mining/", target: :_blank %></ul>
        <ul><%= link_to "How Bitcoin Mining Works ","https://qz.com/154877/by-reading-this-page-you-are-mining-bitcoins/", target: :_blank %>(in layman's terms)</ul>
        <ul><%= link_to "Getting Started Guide","https://www.bitcoinmining.com/", target: :_blank %></ul>
        <ul><%= link_to "Bitcoin Mining Profitability Calculator","https://bitcoinwisdom.com/bitcoin/calculator", target: :_blank %></ul>
        <ul><%= link_to "Realtime Mining Statistics","https://bitcoinwisdom.com/bitcoin/difficulty", target: :_blank %></ul>
        <ul><%= link_to "Mining pool hashrate distribution","https://blockchain.info/pools", target: :_blank %></ul>
        <ul><%= link_to "Organ of Corti ","http://organofcorti.blogspot.co.uk/", target: :_blank %>(mining / network analysis blog)</ul>
      </div>
      <div class="resources-block">
        <ul class="resources-list-head">Realtime Exchange Data:</ul>
        <ul><%= link_to "Bitcoinity", "http://bitcoinity.org/markets/bitstamp/USD",target: :_blank %></ul>
        <ul><%= link_to "Bitcoin Average","https://bitcoinaverage.com/en/bitcoin-price/btc-to-usd", target: :_blank %></ul>
        <ul><%= link_to "Bitcoin Wisdom","https://bitcoinwisdom.com/", target: :_blank %></ul>
        <ul><%= link_to "Blockchain.info","https://blockchain.info/markets", target: :_blank %></ul>
        <ul><%= link_to "CoinDesk Bitcoin Price Index","http://www.coindesk.com/price/", target: :_blank %></ul>
        <ul><%= link_to "Winklevoss Price Index", "http://winkdex.com/", target: :_blank %></ul>
      </div>
      <div class="resources-block">
        <ul class="resources-list-head">Setting up a wallet:</ul>
        <ul><%= link_to "Choose your wallet here","https://bitcoin.org/en/choose-your-wallet",target: :_blank %></ul>
        <ul>You'll note that there are a variety of options.</ul> 
        <ul>Our wallet recommendations:
          <ul>For a desktop wallet: <%= link_to "Electrum","https://electrum.org/#home",target: :_blank %></ul>
          <ul>For an Android wallet: <%= link_to "Mycelium","https://play.google.com/store/apps/details?id=com.mycelium.wallet",target: :_blank %></ul>
          <ul>For an iPhone wallet: <%= link_to "breadwallet","https://itunes.apple.com/app/breadwallet/id885251393",target: :_blank %></ul>
          <ul>For a web wallet: <%= link_to "BitGo","https://www.bitgo.com/",target: :_blank %></ul>
        </ul>
        <p class="resources-para">Note that it is NOT recommended that Bitcoin newcomers use the Bitcoin Core wallet. The Core wallet is much more resource intensive than other wallets and will not function properly unless it is running constantly on an active Internet connection. </p>
        <ul><%= link_to "Options for storing bitcoins","http://www.coindesk.com/information/how-to-store-your-bitcoins/",target: :_blank %></ul>
        <ul><%= link_to "Glacier: A protocol for high security Bitcoin storage","https://glacierprotocol.org/",target: :_blank %></ul>
        <ul><%= link_to "Paper Wallet Cold Storage Guide","https://news.bitcoin.com/idiot-proof-vault-cold-storage-guide/",target: :_blank %></ul>
      </div>
      <div class="resources-block">
        <ul class="resources-list-head">Vendors accepting Bitcoin:</ul>
        <ul><%= link_to "Airbitz Merchant Directory","https://airbitz.co/search?term=&location=Current+Location",target: :_blank %></ul>
        <ul><%= link_to "Map of physical stores accepting Bitcoin","https://coinmap.org/#/map/50.09996918/14.46910948/17",target: :_blank %></ul>
        <ul><%= link_to "UseBitcoins.info","http://usebitcoins.info/",target: :_blank %></ul>
      </div>
      <div class="resources-block">
        <ul class="resources-list-head">Privacy:</ul>
        <ul><%= link_to "Open Bitcoin Privacy Project's Wallet Reviews","http://www.openbitcoinprivacyproject.org/product-reviews/",target: :_blank %></ul>
        <ul><%= link_to "Anonymous Bitcoin Book ","https://anonymousbitcoinbook.com/",target: :_blank %>- how to maintain your privacy</ul>
        <ul><%= link_to "Bitcoin.org's Privacy Guide","https://bitcoin.org/en/protect-your-privacy",target: :_blank %></ul>
        <ul><%= link_to "How TumbleBit Works","https://joinmarket.me/blog/blog/tumblebit-for-the-tumble-curious/",target: :_blank %></ul>
      </div>
      <div class="resources-block">
        <ul class="resources-list-head">The Lightning Network:</ul>
        <ul><%= link_to "Explained in Layman's Terms","https://letstalkbitcoin.com/blog/post/the-lightning-network-elidhdicacs",target: :_blank %></ul>
        <ul><%= link_to "Technical Specifications","http://lightning.network/",target: :_blank %></ul>
        <ul><%= link_to "Lightning Network FAQ","https://medium.com/@AudunGulbrands1/lightning-faq-67bd2b957d70",target: :_blank %></ul>
        <ul><%= link_to "Lightning Resources","https://medium.com/lightning-resources",target: :_blank %></ul>
      </div>
    </div>
  </div>
</div>