<!-- Start: Header Section
================================ -->
    <section class="header-section-1 relative">
        <div class="carousel-home-slider ">
            
            <div class="carousel-home-wrapper owl-carousel">

                <div class="item">
                    <div class="slider-background bg-cover bg-overlay-3" style="background-image: url(<%= asset_path 'bg-1.jpg' %>);"></div>
                    <div class="container">
                        <div class="row section-separator">

                            <div class="cd-content-animation text-center">
                                <!-- Start: Section Header -->
                                <div class="section-header light-text relative col-md-8 col-md-offset-2 col-sm-12" >
                                
                                    <h1 class="section-heading">Thumbs-up on joining the block chain revolution.</h1>
                                    <p class="tag-line margin-t-25">It is going to change our lives. Let us help you understand the technology and its impact on businesses and day to day life.</p>
                                    
                                </div> <!-- End: Section Header -->

                                <div class="clearfix">  </div>

                                <div class="btn-form margin-t-40 col-xs-12">
                                    <a href="/beginner_knowledge_base" class="btn btn-fill btn-color right-icon">Learn More</a>
                                </div>
                            </div>


                        </div> <!-- End: .row -->
                    </div> <!-- End: .container -->
                </div> <!-- End: .item -->
                <div class="item">
                    <div class="slider-background bg-cover bg-overlay-3" style="background-image: url(<%= asset_path 'bg-2.jpg' %>);"></div>
                    <div class="container">
                        <div class="row section-separator">

                             <div class="cd-content-animation text-center">
                                <!-- Start: Section Header -->
                                <div class="section-header light-text relative col-md-10 col-md-offset-1 col-sm-12" >
                                
                                    <h1 class="section-heading">You are an early adopter of the technology. Well done!</h1>
                                    <p class="tag-line margin-t-15">Keep learning to have the competitive advantage.</p>
                                    
                                </div> <!-- End: Section Header -->

                                <div class="clearfix">  </div>

                                <div class="btn-form margin-t-40 col-xs-12">
                                    <a href="/beginner_knowledge_base" class="btn btn-fill btn-color right-icon">Take me to the Bitcaffe-Starter kit</a>
                                    <!--<a href="#" class="btn btn-fill-big btn-dark">Contact us</a>-->
                                </div>
                            </div>

                        </div> <!-- End: .row -->
                    </div> <!-- End: .container -->
                </div>
                <div class="item">
                    <div class="slider-background bg-cover bg-overlay-3" style="background-image: url(<%= asset_path 'bg-3.jpg' %>);"></div>
                    <div class="container">
                        <div class="row section-separator">

                            <div class="cd-content-animation text-center">
                                <!-- Start: Section Header -->
                                <div class="section-header light-text margin-b-30 relative col-md-8 btn-form col-md-offset-2 col-sm-12" >
                                
                                    <h1 class="section-heading">Welcome to Bitcaffe!</h1>
                                    <!--<p class="tag-line margin-t-25">Stay on top of the fast growing Crypto world. Get the most relevant news item and insightful essays to your inbox.</p>-->
                                    
                                </div> <!-- End: Section Header -->
                                
                                <div class="col-md-8 btn-form col-md-offset-2 col-sm-12">
                                    <div class="note-area">
                                        <ul class="nav">
                                            <li>Are you an investor? Visit <%= link_to " investor-starter kit ⟶","/trader_investor_lp" %></li>
                                            <li>Are to you looking to understand the basics? Visit <%= link_to "Tech-starter kit ⟶", "/beginner_knowledge_base" %></li>
                                            <li>Are you looking to understand the business impact? Visit <%= link_to "Biz-starter kit ⟶", "/beginner_knowledge_base" %></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>


                        </div> <!-- End: .row -->
                    </div> <!-- End: .container -->
                </div> <!-- End: .item -->
                <div class="item">
                    <div class="slider-background bg-cover bg-overlay-3" style="background-image: url(<%= asset_path 'bg-4.jpg' %>);"></div>
                    <div class="container">
                        <div class="row section-separator">

                             <div class="cd-content-animation text-center">
                                <!-- Start: Section Header -->
                                <div class="section-header light-text relative col-md-8 col-md-offset-2 col-sm-12" >
                                
                                    <h1 class="section-heading">Crypto grew 4000% in 2017. 2018 is going to be huge!</h1>
                                    <p class="tag-line margin-t-15">Don’t miss an opportunity to invest in an Apple inc. of nineties.</p>
                                    
                                </div> <!-- End: Section Header -->

                                <div class="clearfix">  </div>

                                <div class="btn-form margin-t-40 col-xs-12">
                                    <a href="/beginner_knowledge_base" class="btn btn-fill btn-color right-icon">Learn More</a>
                                    <!--<a href="#" class="btn btn-fill-big btn-dark">Contact us</a>-->
                                </div>
                            </div>

                        </div> <!-- End: .row -->
                    </div> <!-- End: .container -->
                </div>
            </div>

            <!-- Price as a row -->
            <!--<div class="stock-prices light-text text-center">
                <% @prices.each do |price| %>
                  <%= "#{price['name']}: $#{price['price_usd'].to_f.round(2)}" %>
                <% end %>
            </div> -->
            
        </div>
    </section>
    <!-- End: Header Section
    ================================ -->



    <!-- Start: Header Section
    ================================ -->
    <section class="features-section relative background-2 subscrive-section">
        <div class="container">
            <div class="row matchHeight features-item section-separator-small sp-top">
                
                <div class="each-item business-item col-md-4 col-sm-12">
                  
                    <!-- Start: Section Header -->
                    <div class="section-header text-left">
                        <h2 class="section-heading">Trending News</h2>
                        <!--<hr class="lines">-->
                    </div> <!-- End: Section Header -->
    
                    <div class="carousel-container margin-b-50 features-content">
                        <div class="carousel-wrapper owl-carousel inner-small shadow">
                            
                            <% 
                            count = 1 
                            @posts.each_slice(3) do |array_of_items| 
                                if count <= 3
                                    count += 1
                            %>
                            <div class="item">
                                <div class="item-inner ">
                                  <ul class="nav recent-post text-left">
                                    
                                  <% array_of_items.each do |post|%>
                                    <li>
                                        <a href="<%= post['url'] %>" target="_blank">
                                            <div class="media">
                                                <div class="media-left">
                                                  <% if post['urlToImage'] %>
                                                    <div class="image-container bg-cover" style="background-image: url(<%= post['urlToImage'] %>); height: 59px;width: 80px;"></div>
                                                  <% else %>
                                                    <div class="image-container bg-cover" style="background-image: url(<%= asset_path 'bitcoins-default.jpg' %>); height: 59px;width: 80px;"></div>
                                                  <% end %>
                                                </div>
                                                <div class="media-body">
                                                    <p class="post-title"><%= post['title'] %></p>
                                                    <p class="details"><%= post['description'][0..60] %>...</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <% end %> 
                                  
                                  </ul>
                                </div>
                            </div> <!-- End: .item -->
                            <% 
                                end 
                            end 
                            %>
                            
                        </div> <!-- End: .carousel-wrapper -->
                    </div> <!-- End: .carousel-container -->
                    
                </div> <!-- End: .each-item -->
                <div class="each-item business-item col-md-4 col-sm-12">
                  
                    <!-- Start: Section Header -->
                    <div class="section-header text-left">
                        <h2 class="section-heading">Featured Content</h2>
                        <!--<hr class="lines">-->
                    </div> <!-- End: Section Header -->
    
                    <div class="carousel-container margin-b-50 features-content">
                        <div class="carousel-wrapper owl-carousel inner-small shadow">
                          
                            <% count = 1
                            @contents.each do |content| 
                            if count <= 3 %>
                            <div class="item">
                                <div class="item-inner content-small text-left">
                                    
                                  <!-- Start: Section Header -->
                                  <div class="section-header no-margin">
                                      <a href="<%= content.news_url %>"><h3 class="title"><%= content.title %></h3></a>
                                      <!--<p class="post-meta">-->
                                      <!--    By <a href="#">thomas been</a>, <a href="#">May 15, 2015</a> -->
                                      <!--</p>-->
                                  </div>
                                  <!-- End: Section Header -->
    
                                  <div class="detail">
                                      <p><%= content.description[0..400] %></p>
                                  </div>
    
                                  <!-- Button Area -->
                                  <div class="btn-form ">
                                      <a href="<%= content.news_url %>" class="btn right-icon read-more">CONTINUE READING <i class="fa fa-long-arrow-right"></i></a>
                                  </div>
    
                                </div>
                            </div> <!-- End: .item -->
                            <%  end 
                            count += 1
                            end %>
                            
                        </div> <!-- End: .carousel-wrapper -->
                    </div> <!-- End: .carousel-container -->
                    
                </div> <!-- End: .each-item -->
                <div class="each-item business-item col-md-4 col-sm-12">
                    <!-- Start: Section Header -->
                    <div class="section-header text-left">
                        <h2 class="section-heading">Latest Videos</h2>
                        <!--<hr class="lines">-->
                    </div> <!-- End: Section Header -->
    
                    <div class="carousel-container margin-b-50 features-content">
                        <div class="carousel-wrapper owl-carousel padding-b-15 background-1 shadow">
                            <% count = 1
                            @videos.each do |video| 
                            if count <= 3 %>
                            <div class="item">
                                <div class="item-inner text-left">
                                    <% if video.link.include? "youtube" %>
                                        <% str1 = "#{video.link}" %>
                                        <% str2 = str1.split("=") %>
                                        <div class="video background-2">
                                        <%= content_tag(:iframe,'', src: "https://www.youtube.com/embed/#{str2[1]}", class: "video-async") %>
                                        </div>
                                    <% end %>
                                    <!--  End: Video Area  -->
                                </div>
                            </div> <!-- End: .item -->
                            <%  end 
                            count += 1
                            end %>
                            
                        </div> <!-- End: .carousel-wrapper -->
                    </div> <!-- End: .carousel-container -->
                    
                </div> <!-- End: .each-item -->
                        
            </div> <!-- End: .row -->
        </div> <!-- End: .container -->
    </section>
    <!-- End: Header Section
    ================================ -->
    
    
    
    <!-- Start: Section
    ================================ -->
    <section class="relative video-panel-section bg-cover bg-overlay-dark" style="background-image: url(<%= asset_path 'bitcoins-default.jpg' %>); ">
        <div class="container">
            
            <div class="row video-panel homepage-section-inner">
                <div class="player-row clearfix">
                    <div class="col-sm-5">
                        <div class="main-video-meta light-text">
                            <div class="desktop-subheadline">BitCaffe Video</div>
                            <h2 class="main-headline">
                                <!-- Video Title -->
                            </h2>
                            <!--<div class="watch-button"></div>-->
                            <div class="details">
                                <!-- <p>Video Description</p> -->
                                <p>A fascinating story focusing on the emergence of a new world wide currency - now being accepted in Australia and elsewhere around the globe.  This is a snapshot of a time in history that could be very significant in the future.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="mobile-subheadline">BitCaffe Video</div>
                        <div class="main-video-player">
                            
                            <% str1 = "#{@videos[0].link}" %>
                            <% str2 = str1.split("=") %>
                            
                            <!--  Start: Video Area  "PASTE YOUR VIDEO LINK HERE " -->
                            <div class="video" style="background-image: url(<%= asset_path 'spinner.svg' %>);">
                               <iframe class="video-async main-video-iframe" data-color="ffc300" src="https://www.youtube.com/embed/<%= str2[1] %>?rel=0&showinfo=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                            </div>
                            <!--  End: Video Area  -->
                        </div>
                    </div>
                </div>
                <div class="videoPanels col-xs-12">
                    
                    <% count = 1
                    @videos_new.each do |video| %>
                        <% if video.link.include? "youtube" %>
                            <% str1 = "#{video.link}" %>
                            <% str2 = str1.split("=") %>
                        <% if count <= 4 %>
                        <div class="videoPanelThumb " data-video-id="https://www.youtube.com/embed/<%= str2[1] %>?rel=0&amp;showinfo=1&autoplay=1">
                            <div class="relative bg-overlay-dark">
                                <!--  Start: Video Area  "PASTE YOUR VIDEO LINK HERE " -->
                                <div class="video">
                                   <iframe class="video-async" data-source="vimeo" data-color="ffc300" src="https://www.youtube.com/embed/<%= str2[1] %>?rel=0&showinfo=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                                </div>
                                <!--  End: Video Area  -->
                            </div>
                            <div class="video-color-bar"></div>
                            <div class="thumb-meta light-text" data-url="<%= video.link %>">
                                <!-- <h3>Video title</h3> -->
                                <p class="hidden description"></p>
                            </div>
                            <i class="fa fa-play hover-play" aria-hidden="true"></i>
                        </div>
                        <% end %>
                    <%  end 
                    count += 1
                    end %>
                
                </div>
            </div>
        </div>
    </section>
    <!-- End: Section
    ================================ -->





<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
  t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
  return t;
}(document, "script", "twitter-wjs"));</script>


<script type="text/javascript">
$("#myElem").show();
setTimeout(function() { $("#myElem").fadeOut(1600); }, 5000);
$( "#clickme" ).click(function() {
  $( "#myElem" ).toggle();
  setTimeout(function() { $("#myElem").fadeOut(1600); }, 5000);
});
</script>

<script type="text/javascript">
// $('#twitter-widget-0').contents().find('body').find('head').append('<style></style>').children('style').text('.timeline-Tweet-media{display: none;}');
    
</script>