<blockquote>
    <h1 class="blockquote-font">Until Now</h1>
</blockquote>
<div class="until-now-container">
    <ul>market_price_usd: <%= @response['market_price_usd'] %></ul>
    <ul>blocks_size: <%= @response['blocks_size'] %></ul>
    <ul>difficulty: <%= @response['difficulty'] %></ul>
    <ul>estimated_btc_sent: <%= @response['estimated_btc_sent'] %></ul>
    <ul>estimated_@response_volume_usd: <%= @response['estimated_@response_volume_usd'] %></ul>
    <ul>hash_rate: <%= @response['hash_rate'] %></ul>
    <ul>miners_revenue_btc: <%= @response['miners_revenue_btc'] %></ul>
    <ul>miners_revenue_usd: <%= @response['miners_revenue_usd'] %></ul>
    <ul>minutes_between_blocks: <%= @response['minutes_between_blocks'] %></ul>
    <ul>n_blocks_mined: <%= @response['n_blocks_mined'] %></ul>
    <ul>n_blocks_total: <%= @response['n_blocks_total'] %></ul>
    <ul>n_btc_mined: <%= @response['n_btc_mined'] %></ul>
    <ul>n_tx: <%= @response['n_tx'] %></ul>
    <ul>timestamp: <%= @response['timestamp'] %></ul>
    <ul>total_btc_sent: <%= @response['total_btc_sent'] %></ul>
    <ul>total_fees_btc: <%= @response['total_fees_btc'] %></ul>
    <ul>totalbc: <%= @response['totalbc'] %></ul>
    <ul>trade_volume_btc: <%= @response['trade_volume_btc'] %></ul>
    <ul>trade_volume_usd: <%= @response['trade_volume_usd'] %></ul>
</div>