<br><br><br><br>
<!-- Start: Header Section
================================ -->
<section class="features-section relative subscrive-section background-2">
    <div class="container">
        <div class="row features-item section-separator ">
          
            <div class="each-item-big col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="inner">
                    
                    <%= form_tag "/resources/search", class: "single-form search-form search-big", method: :post do %>
                      <div class="input-group">
                          <%= text_field_tag :user_search, nil, placeholder:"Type what do you want to learn today?", class: "form-control" %>
                          <span class="input-group-btn">
                              <button class="btn" type="submit" name="commit" data-disable-with="Search"><i class="fa fa-search"></i></button>
                          </span>
                      </div><!-- /.input-group -->
                    <% end %> 

                </div>
            </div>
            
            
            <% if @resources.length == 0 %>
            <div class="clearfix"></div>
            <div class="each-item-big col-sm-8 col-sm-offset-2 col-xs-12">
                    
                <!-- Start: Section Header -->
                <div class="section-header text-center">
                    <h2 class="section-heading">Sorry we couldn't understand you. Can you please re-frame your question</h2>
                    <p class="sub-heading">Here is a video which we think you will enjoy.</p>
                </div> <!-- End: Section Header -->
                
                <div class="margin-t-50">
                  
                    <!--  Start: Video Area  "PASTE YOUR VIDEO LINK HERE " -->
                    <div class="video background-2">
                       <iframe class="video-async" data-source="vimeo"  data-color="ffc300" src="https://www.youtube.com/embed/l9jOJk30eQs?color=ffc300&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <!--  Video Link Goes Here--> 
                    </div>
                    <!--  End: Video Area  -->
                  
                </div>

            </div>
            <% end %>
            

            <% if @resources.length > 0 %>
            <div class="clearfix"></div>
            <div class="tag-list light-text text-left col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="row">
                
                    <% @resources.each do |resource| %>
                    <div class="each-item col-xs-12 ">
                        <div class="inner-2 relative">
                            <a class="err-hide" href="/resource/<%= resource.id %>" title="<%= resource.name %>">
                                <h4 class="title"><%= resource.name %> </h4>
                            </a>
                            <p class="res-description margin-t-15"><%= resource.description[0..220] %>...</p>
                            
                            <div class="meta-option like-option">
                                <%= link_to "Upvote", "/resources/#{resource.id}/like", method: :put, class: "fa fa-long-arrow-up", title: "Like" %>
                                <%= link_to "Downvote", "/resources/#{resource.id}/dislike", method: :put, class: "fa fa-long-arrow-down", title: "Dislike" %>
                            </div>
                            
                            <% if current_user && current_user.admin %>
                            <div class="meta-option user-option">
                                <%= link_to "Edit", "/resources/#{resource.id}/edit", class: "fa fa-pencil-square" %>
                                <%= link_to "Delete", "/resources/#{resource.id}", method: :delete, class: "fa fa-trash" %>
                            </div>
                            <% end %>
                        </div>
                    </div>
                    <% end %>
                    
                </div>
            </div>
            <% end %>
                    
        </div> <!-- End: .row -->
    </div> <!-- End: .container -->
</section>
<!-- End: Header Section
================================ -->