

<!-- Start: Header Section
================================ -->
<section class=" relative background-2">
    <div class="container">
        <div class="row section-separator-big">

            <div class="col-xs-12">
                <!-- Start: Section Header -->
                <div class="section-header margin-t-30 margin-b-30 text-center" >
                
                    <h4 class="section-heading text-uppercase letter-spacing-2">New Resource</h4>
                    
                </div> <!-- End: Section Header -->
            </div>

            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <div class="row">

                    <div class="registration-form col-md-offset-2 col-md-8 col-sm-12">
                        <div class="registration-form-outer background-1 shadow">
                            
                            <%= form_tag "/resources", method: :post, class: "single-form" do%>
                            
                                <div class="input-outer col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            <%= text_field_tag :name,@resource.name, class:"form-control", placeholder: "Name"%>
                                        </div>
                                    </div>
                                </div> <!-- End: input -->

                                <div class="input-outer col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-align-left"></i></div>
                                            <%= text_field_tag :short_desc, @resource.short_desc, placeholder: 'Short Description', class:"form-control"%>
                                        </div>
                                    </div>
                                </div> <!-- End: input -->

                                <div class="input-outer col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon" style="vertical-align: top;padding-top: 19px;"><i class="fa fa-align-left"></i></div>
                                            <%= text_area_tag :description, @resource.description, rows: 10, cols: 25, placeholder: 'Description', class:"form-control textarea" %>
                                        </div>
                                    </div>
                                </div> <!-- End: input -->
                                
                                <div class="input-outer col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-link"></i></div>
                                            <%= text_field_tag :resource_link, @resource.resource_link, placeholder: 'Resource Link', class:"form-control" %>
                                        </div>
                                    </div>
                                </div> <!-- End: input -->
                                
                                <div class="input-outer col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-link"></i></div>
                                            <div class="select-outer">
                                                <%= collection_select( :resource_category, :resource_category_id, ResourceCategory.all, :id, :name, {}, {:class=>'form-control'}) %>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- End: input -->

                                <!-- Subject Button -->
                                <div class="btn-form input-outer col-xs-12">
                                    <div class="button-outer relative">
                                        <%= submit_tag "Create Record", class: "btn btn-fill full-width" %>
                                    </div>
                                </div>
                            <%end%>
                            
                        </div> <!-- /#-1 -->
                    </div>

                </div>
            </div>


        </div> <!-- End: .row -->
    </div> <!-- End: .container -->
</section>
<!-- End: Header Section
================================ -->
