
<!-- Start: Header Section
================================ -->
<section class="features-section default-home relative subscrive-section background-2">
    <div class="features-item section-separator-small default-seperator sp-top">
        
        <div class="container">
          <div class="row">
            
            <div class="col-sm-6 tag-list tag-details">
              
              <!-- Start: Section Header -->
              <div class="section-header text-left">
                <h1 class="section-heading"><%= link_to "#{@resouce.name}", "#{@resouce.resource_link}", target: "_blank" %></h1>
              </div> <!-- End: Section Header -->
              
              <div class="share-outer share-text margin-t-20">
                  <!--<div class="addthis_inline_share_toolbox "></div>-->
                  <div class="addthis_toolbox addthis_default_style">
                    <a class="addthis_button_facebook"><span class="share facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</span></a>
                    <a class="addthis_button_linkedin"><span class="share linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</span></a>
                    <a class="addthis_button_twitter"><span class="share twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</span></a>
                  </div>
              </div>
              <div class="meta-option like-option margin-top">
                  <%= link_to "#{@resouce.get_likes.size}", "", class: "fa fa-long-arrow-up", title: "Like" %>
                  <% link_to "#{@resouce.get_dislikes.size}", "", class: "fa fa-long-arrow-down", title: "Dislike" %>
              </div>
              
              <div class="btn-form margin-t-20">
                  <%= link_to "Visit website", "#{@resouce.resource_link}", class: "btn btn-fill btn-dark", title: "Visit website", target: "_blank" %>
              </div>
          
            </div>
            <div class="col-sm-6">
               <% if @resouce.resource_link.include? "youtube" %> 
                  <% str1 = "#{@resouce.resource_link}" %>
                  <% str2 = str1.split("=") %>
                  
                  <!--  Start: Video Area  "PASTE YOUR VIDEO LINK HERE " -->
                  <div class="video background-2">
                     <iframe class="video-async" data-source="vimeo"  data-color="ffc300" src="https://www.youtube.com/embed/<%= str2[1] %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <!--  Video Link Goes Here--> 
                  </div>
                  <!--  End: Video Area  -->
                <% else %>
                    <div class="live-link-preview"><%= @resouce.resource_link %></div> 
                <% end %>
            </div> 
            
          </div>
        </div>
        
    </div>
    <hr class="tag-details-seperator" />
    <div class="features-item section-separator-small background-1">
       
        <div class="container tag-list tag-details">
            <div class="row">
              
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <p class="details"><%= @resouce.description %></p>
                </div>
                
            </div>
        </div>
                    
    </div> <!-- End: .row -->
</section>
<!-- End: Header Section
================================ -->


<!-- Go to www.addthis.com/dashboard to customize your tools --> 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59bf0f900e22530f"></script> 