<h1>Welcome and move out in style</h1>
<h3> Product Details </h3>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <ul class="info-background">
        <li>Name: <%= @product.name %></li>
        <li>Description: <%= @product.description %></li>
        <li class="<%= @product.sale_message %>">Price: <%= number_to_currency(@product.price) %></li>
        <li>Categories:
          <ul>
            <% @product.categories.each do |category| %>
              <li><%= category.name %></li>
            <% end %>
          </ul>
        </li>
        <li>Tax: <%= number_to_currency(@product.tax) %></li>
        <li>Total: <%= number_to_currency(@product.total) %></li>
        <% if current_user && current_user.admin %>
        <li><%= link_to "Edit", "/products/#{@product.id}/edit" %></li> 
        <li><%= link_to "Delete", "/products/#{@product.id}", method: :delete %></li>
        <li><%= link_to "Add Image", "/images/new" %></li>
        <% end %>
      </ul>
      <% if current_user %>
      <%= form_tag "/carted_products", method: :post do %>
        <div>
          <%= label_tag :quantity %>
          <%= text_field_tag :quantity %>
        </div>
        <%= hidden_field_tag :product_id, @product.id %>          
        <%= submit_tag "Add to Cart" %>  
      <% end %>
      <% end %>
    </div>
    <div class="col-md-4">
      <% @product.images.each do |image| %>
        <img class=width="200" height="200" src="<%= image.url %>">
      <% end %>
    </div>
  </div>