<!DOCTYPE html>
<html>
  <head>
  
    <!-- Google ADD -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9940359673199194",
        enable_page_level_ads: true
      });
    </script>
    <!-- end google add -->

    <title>BitCaffe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
      <%= image_tag("logo.jpg",class: "logo") %>
      <%= link_to "Home", url_for("/"), class: "nav-links", :data => { :reload => true } %>
      <%= link_to "News", url_for("/news"), class: "nav-links", :data => { :reload => true } %>
      <%= link_to "Resources", url_for("/resources"), class: "nav-links", :data => { :reload => true } %>
    </div>
    <br><br>
    <%= yield %>
    <footer id="main-footer">
    <div id="sub-footer">
      <div>
        <div class="col-md-2"></div>

        <div class="footer-content-container">
          <div class="col-md-4 footer-left-col">
            <div class="title-container">
              <h1 class="footer-form-title">Sign up for our newsletter</h1>
            </div>

            <input type="email" class="black-text footer-email-bar" placeholder="Email" name="email">

            <div class="footer-button-container">
              <p class="js-subscribe-response subscribe-response"></p>
              <button class="footer-form-submit">Subscribe</button>
            </div>
          </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </footer>
    <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59bf0f900e22530f"></script> 
  </body>
  </html>

  <script type="text/javascript">
    $(function() {
      $(".dropdown").on("mouseover", function() {
        $(this).addClass("open");
      });
      $(".dropdown").on("mouseout", function() {
        $(this).removeClass("open");
      });
      $(".dropdown-toggle, .navbar-brand").on("click", function() {
        if (window.location.pathname == $(this).attr("href")) {
          return false;
        } else {
          window.location = $(this).attr("href");
        }
      });
    }); 

    $(function(){
      $('a[data-reload="true"').on('click', function(e) {
        window.location = $(e.target).attr('href');
        window.location.reload(true);
      });
    });
  </script>
