<!DOCTYPE html>
<html>
<head>

  <!-- Google ADD -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9940359673199194",
    enable_page_level_ads: true
    });
  </script>
  <!-- end google add -->

  <title>BitCaffe</title>
  <%= csrf_meta_tags %>
  
  <!--Google Font-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Open+Sans:300,400,600,700" rel="stylesheet">
  
  <!--Template StyleSheet-->
  <%= stylesheet_link_tag    'elegant_icon/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'less/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  
  <!--Template Main Sctipt-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>
  
  <!-- Start: Navbar Area
  ============================= -->
  <nav class="navbar nav-theme-4 navbar-fixed-top main-navbar-top"> <!-- id="main-navbar-top" > -->
    <div class="container relative">
      <div class="col-xs-12">
        <div class="navbar-header">
  
            <!-- Menu Button show Mobile view -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar icon-bar-top"></span>
                <span class="icon-bar icon-bar-middle"></span>
                <span class="icon-bar icon-bar-bottom"></span>
            </button>
  
            <!-- TEMPLATE LOGO LIGHT -->
            <a class="navbar-brand light-logo " href="/"><%= image_tag("bitcaffe-white.png",class: "logo") %></a>
    
        </div> <!-- End: .container -->
    
        <div class="collapse navbar-collapse" id="js-navbar-menu">
          <ul id="nav" class="nav navbar-right navbar-nav">
              <li class="nav-def social-inline text-center">
                  <h6 class="title">Follow Us</h6>
                  <hr/>
                  <div class="">
                    <a href="http://www.linkedin.com/company/18200105" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a> 
                    <a href="//twitter.com/bitcaffe256" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="http://www.facebook.com/bitcaffe" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                  </div>
              </li>
              <li class="<%= current_class?('/') %>">
                  <%= link_to "Home", url_for("/"), class: "nav-links", :data => { :reload => true } %>
              </li>
              <li class="<%= current_class?('/news') %>">
                <%= link_to "News", url_for("/news"), class: "nav-links", :data => { :reload => true } %>
              </li>
              <li class="<%= current_class?('/resources') %>">
                <%= link_to "Resources", url_for("/resources"), class: "nav-links", :data => { :reload => true } %>
              </li>
              <% if current_user %>
              <li class="<%= current_class?('/logout') %>">
                <a class="nav-links" data-reload="true" href="/logout"><i class='fa fa-sign-out'></i> &nbsp; Logout</a>
              </li>
              <% else %>
              <li class="<%= current_class?('/signup') %>">
                <a class="nav-links" data-reload="true" href="/signup"><i class='fa fa-user-o'></i> &nbsp; Sign-Up</a>
              </li>
              <li class="<%= current_class?('/login') %>">
                <a class="nav-links" data-reload="true" href="/login"><i class='fa fa-sign-in'></i> &nbsp; Login</a>
              </li>
              <% end %>
          </ul>
        </div> <!-- End: .navbar-collapse -->
      </div>
    </div> <!-- End: .navbar-header-outer -->
  </nav>
  <!-- End: Navbar Area
  ============================= -->
    
    
    
    <%= yield %>
    
    
  <section class="features-section relative footer-top-section" style="background-color: #1d1d1d;    /*background-color: #3D4C6F;*/ "> 
    <div class="container">
        <div class="row section-separator">
            
            <div class="features-item"> 
  
                <div class="each-item subscribe-form-area light col-md-6 col-sm-12">
                    <div class="subscribe-form-area-inner light-text">
                        
                        <!-- Start: Section Header -->
                        <div class="section-header text-left">
                        
                            <h2 class="section-heading">Sign up for our newsletter</h2>
                            <!--<p class="sub-heading">Stay current with our latest insights</p>-->
                            
                        </div> 
                        <!-- End: Section Header -->
  
                        <div class="subscribe-form" id="mc_embed_signup">
                          
                            <!-- Mailchimp Subscriber Form Goes Here  -->
                            <form id="mc-embedded-subscribe-form" method="post" class="single-form text-center validate" target="_blank" novalidate="true" action="https://bitcoincaffe.us17.list-manage.com/subscribe/post?u=634e7336b124158b06bbc1115&amp;id=60c0054ed1" novalidate>
                                <div class="container-fluid" id="mc_embed_signup_scroll">
  
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_634e7336b124158b06bbc1115_60c0054ed1" tabindex="-1" value=""></div>
                                    <div class="row">
                                        <div class="input-group">
  
                                            <div class="outer">
                                                <input type="email" class="black-text footer-email-bar form-control required email" placeholder="Email" name="EMAIL" id="mce-EMAIL">
                                            </div>
  
                                            <div class="input-group-btn outer">
                                                <button class="footer-form-submit btn btn-fill button" type="submit" name="subscribe" id="mc-embedded-subscribe" >Subscribe</button>
                                            </div>
  
                                        </div>
                                        
                                        <div id="mce-responses margin-t-15" class="clear">
                                            <div class="response subscription-failed" id="mce-error-response" style="display:none"></div>
                                            <div class="response subscription-success" id="mce-success-response" style="display:none"></div>
                                        </div>
  
                                    </div>
                                </div>
                            </form>
                            
                            
                        </div> <!-- End: .subscribe-form -->
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                        <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                        
                    </div> <!-- End: .subscribe-form-area-inner -->
                </div> <!-- End: .subscribe-form-area -->
  
                <div class="each-item social-icon-area col-md-3 col-sm-6 col-xs-12">
                    <div class="social-icon-area-inner padding-l-40">
                        
                        <div class="section-header text-left light-text">
                            
                            <h3 class="section-heading">Follow</h3>
                            <!--<p class="sub-heading">Stay current with our latest insights</p>-->
                            
                        </div>
                        
                        <ul class="nav social-icon light">
                            <li>
                                <a href="http://www.linkedin.com/company/18200105" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                    <span class="name">Linkedin</span>
                                </a>
                                
                            </li>
                            <li>
                                <a href="http://www.facebook.com/bitcaffe" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                    <span class="name">Facebook</span>
                                </a>                                    
                            </li>
                            <li>
                                <a href="//twitter.com/bitcaffe256" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                    <span class="name">Twitter</span>
                                </a>                                    
                            </li>
                        </ul>
  
                    </div>
                </div>

                <div class="each-item side-navbar-area col-md-3 col-sm-6 col-xs-12">
                    <div class="side-navbar-area-inner padding-l-40">
                        
                        <div class="section-header text-left light-text">
                        
                            <h3 class="section-heading">Quick Links</h3>
                            <!--<p class="sub-heading">Stay current with our latest insights</p>-->
                            
                        </div>
                        
                        <ul class="nav side-navbar light">
                            <li>
                                <%= link_to "Home", url_for("/"), class: "nav-links", :data => { :reload => true } %>
                            </li>
                            <li>
                                <%= link_to "News", url_for("/news"), class: "nav-links", :data => { :reload => true } %>
                            </li>
                            <li>
                                <%= link_to "Resources", url_for("/resources"), class: "nav-links", :data => { :reload => true } %>
                            </li>
                        </ul>
  
                    </div>
                </div>
                <!--<div class="each-item side-navbar-area col-md-3 col-sm-6 col-xs-12">-->
                <!--    <div class="side-navbar-area-inner padding-l-40">-->
                        
                <!--        <ul class="nav side-navbar light">-->
                <!--            <% if current_user %>-->
                <!--              <li><%= link_to "Logout", "/logout", class: "nav-links fa fa-sign-out", :data => { :reload => true } %></li>-->
                <!--            <% else %>-->
                <!--              <li><%= link_to "Sign-Up", "/signup" , class: "nav-links glyphicon glyphicon-user", :data => { :reload => true } %></li>-->
                <!--              <li><%= link_to "Login", "/login" , class: "nav-links fa fa-sign-in", :data => { :reload => true } %></li>-->
                <!--            <% end %>-->
                <!--        </ul>-->
  
                <!--    </div>-->
                <!--</div>-->
                
            </div>
            
        </div> <!-- End: .row .section-separator  -->
    </div> <!-- End: .container  -->
  </section>
  <footer class="footer-section-1 background-3">
    <div class="container">
        <div class="row section-separator-smallest light-text">

            <div class="col-md-12 col-sm-12 text-center">

                <p class="text">&copy; BitCaffe LLC, <%= Time.current.year %> </p>

            </div> <!-- End: .col-md-4 -->
            
        </div><!-- End: .row .footer-body .section-separator  -->
    </div> <!-- End: .container  -->
  </footer>
  
  
  
  <!-- Start: Login Popup
  =====================================-->
  <div class=" modal fade contact-us-model" id="user-login-model" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm">
          <div class="modal-content background-2 display-table">

              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              
              <div class="model-content col-xs-12">
                  <div class="row">
                      <div class="inner clearfix">
                      
                          <!-- Start: Section Header -->
                          <div class="section-header text-center">
                              
                              <h4 class="section-heading">Login With BitCaffe</h4>
                              <hr class="full-line">

                          </div>
                          <!-- End: Section Header -->

                          <div class="registration-form ">
                              <div class="">
                                  
                                  <%=form_tag '/login', method: :post, class: "single-form" do%>
      
                                      <div class="input-outer">
                                          <div class="form-group">
                                              <div class="input-group">
                                                  <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                  <!-- <input name="username" class="form-control" type="text" placeholder="Username" required=""> -->
                                                  <%= text_field_tag :email, "", placeholder: "Email", class:"form-control" %>
                                              </div>
                                          </div>
                                      </div> <!-- End: input -->
      
                                      <div class="input-outer">
                                          <div class="form-group">
                                              <div class="input-group">
                                                  <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                  <!-- <input name="pass" class="form-control" type="password" placeholder="Password" required=""> -->
                                                  <%= password_field_tag :password, "", placeholder: "Password", class:"form-control" %>
                                              </div>
                                          </div>
                                      </div> <!-- End: input -->
      
                                      <!-- Subject Button -->
                                      <div class="btn-form input-outer">
                                          <div class="button-outer relative">
                                              <%= button_tag "Login".html_safe, class: "btn btn-fill full-width"%>
                                          </div>
                                      </div>
                                  <%end%>
                                  
                                  <div class="text-center">
                                    <%= link_to "Register new User".html_safe, "/signup", class: "btn"%>
                                  </div>
      
                              </div> <!-- /#-1 -->
                          </div>

                          <!--<p class="margin-t-15">We will share the qutation &amp; detail with you soon</p>-->

                      </div>
                  </div>
              </div> <!-- End: .model-content -->

          </div>
      </div> <!-- End: .modal-dialog -->
  </div>
  <!-- End: Login Popup
  =====================================-->
  

  
</body>
</html>


<!-- Go to www.addthis.com/dashboard to customize your tools --> 
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59bf0f900e22530f"></script> 
  <script type="text/javascript">
    (function($) {
      'use strict';
      
      $(function() {
        $(".dropdown").on("mouseover", function() {
          $(this).addClass("open");
        });
        $(".dropdown").on("mouseout", function() {
          $(this).removeClass("open");
        });
        $(".dropdown-toggle, .navbar-brand").on("click", function() {
          if (window.location.pathname == $(this).attr("href")) {
            return false;
          } else {
            window.location = $(this).attr("href");
          }
        });
      }); 
      
      // $(function(){
      //   $('a[data-reload="true"').on('click', function(e) {
      //     window.location = $(e.target).attr('href');
      //     window.location.reload(true);
      //   });
      // });
      
  
      
      $(document).ready( function() {
        
          /**
           * -----------------------------
           * TESTIMONIAL SYNC WITH CLIENTS
           * -----------------------------
           */
          var testimonialSlider = $(".carousel-wrapper"); // client's message
          testimonialSlider.owlCarousel({
            margin: 30,
            autoPlay : 30000,
            stopOnHover : true,
            pagination: true,
            singleItem : true
          });
          
          
          
          /**
           * -----------------------------
           * Bootstrap Select INIT
           * -----------------------------
           */
          $('.selectpicker').selectpicker({
            style: 'btn-info',
            size: 4
          });

          
          
          /**
           * -----------------------------
           * TESTIMONIAL SYNC WITH CLIENTS
           * -----------------------------
           */
          var testimonialHomeSlider = $(".carousel-home-slider .carousel-home-wrapper"); // client's message
          testimonialHomeSlider.owlCarousel({
            margin: 30,
            autoPlay : 10000,
            // autoHeight : true,
            stopOnHover : true,
            singleItem : true,
            pagination:false,
            slideSpeed : 900,
            responsiveRefreshRate : 100,
            afterInit : function(el){
              el.find(".owl-item").eq(0).addClass("synced");
            },
            transitionStyle:"fade",
            afterAction : syncPosition,
            navigation : true,
            navigationText : ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
            dragBeforeAnimFinish : false,
            mouseDrag : false,
            touchDrag : false
          });
          function syncPosition(el){
            var current = this.currentItem;
            testimonialHomeSlider
              .find(".owl-item")
              .removeClass("synced")
              .eq(current)
              .addClass("synced")
          }
          
          $(document).ready(function() {
            $('.header-section-1, .default-home').find('.carousel-home-slider, .default-seperator').css('margin-top', $('.navbar-header').height());
          });
          $(window).resize(function() {
            $('.header-section-1, .default-home').find('.carousel-home-slider, .default-seperator').css('margin-top', $('.navbar-header').height());
          });
          
          
          
          $('.video-panel').find('.videoPanelThumb').on('click', function(e) {
            e.preventDefault();
            
            var selector = $(this),
                mainArea = selector.closest('.video-panel'),
                videoSection = '.videoPanelThumb',
                video = selector.attr('data-video-id'),
                title = selector.find('h3').text(),
                url = selector.find('h3').attr('data-url'),
                description = selector.find('.description').text();
                
            mainArea.find(videoSection).removeClass('now-playing');
            selector.addClass('now-playing');
              
            var iframeID = mainArea.find('iframe.main-video-iframe'),
                contentID = mainArea.find('.main-video-meta');
                
            var content = '<div class="desktop-subheadline">BitCaffe. Video</div>\
                        <h2 class="main-headline">\
                            <a href="' + url + '">' + title + '</a>\
                        </h2>';
                        //<div class="watch-button" data-video-id="' + video + '"></div>';
            
            iframeID.attr('src', video);
            // contentID.html($content);
            contentID.find('.main-headline').html( title );
            contentID.find('.details p').html( description );
            
          });
          
          
          /**
           * -----------------
           * INIT match height
           * -----------------
           */
          // $('.matchHeight .each-item .owl-wrapper-outer,\
          // .matchHeight .each-item .inner').matchHeight();
    
      });
      
    } (jQuery) );
  </script>