<!DOCTYPE html>
<html>
  <head>
  
    <!-- Google ADD -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9940359673199194",
        enable_page_level_ads: true
      });
    </script>
    <!-- end google add -->

    <title>BitCaffe</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Open+Sans:300,400,600,700" rel="stylesheet">
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'less/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="less/application-responsive.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <!-- Start: Navbar Area
  ============================= -->
  <nav class="navbar nav-theme-4 navbar-fixed-top main-navbar-top"> <!-- id="main-navbar-top" > -->
    <div class="container relative">
      <div class="navbar-header">

          <!-- Menu Button show Mobile view -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-menu" aria-expanded="true">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar icon-bar-top"></span>
              <span class="icon-bar icon-bar-middle"></span>
              <span class="icon-bar icon-bar-bottom"></span>
          </button>

          <!-- TEMPLATE LOGO LIGHT -->
          <a class="navbar-brand light-logo " href="index.html"><%= image_tag("bitcaffe-black.png",class: "logo") %></a>
  
      </div> <!-- End: .container -->
  
      <div class="collapse navbar-collapse" id="js-navbar-menu">
        <ul id="navbar-nav" class="nav navbar-nav navbar-right">
            <li class="active">
                <%= link_to "Home", url_for("/"), class: "nav-links", :data => { :reload => true } %>
            </li>
            <li>
              <%= link_to "News", url_for("/news"), class: "nav-links", :data => { :reload => true } %>
            </li>
            <li>
              <%= link_to "Resources", url_for("/resources"), class: "nav-links", :data => { :reload => true } %>
            </li>
        </ul>
      </div> <!-- End: .navbar-collapse -->
    </div> <!-- End: .navbar-header-outer -->
  </nav>
  <!-- End: Navbar Area
  ============================= -->
 
    
    
    
    <%= yield %>


  <section class="features-section relative footer-top-section" style="background-color: #1d1d1d;    /*background-color: #3D4C6F;*/ "> 
    <div class="container">
        <div class="row section-separator">
            
            <div class="features-item"> 
  
                <div class="each-item subscribe-form-area light col-md-6 col-sm-12">
                    <div class="subscribe-form-area-inner light-text">
                        
                        <!-- Start: Section Header -->
                        <div class="section-header">
                        
                            <h2 class="section-heading">Sign up for our newsletter</h2>
                            <!--<p class="sub-heading">Stay current with our latest insights</p>-->
                            
                        </div> 
                        <!-- End: Section Header -->
  
                        <div class="subscribe-form">
  
                            <!-- Mailchimp Subscriber Form Goes Here  -->
                            <form id="mailchimp-subscribe" method="post" class="single-form text-center" novalidate="true">
                                <div class="container-fluid">
  
                                    <div class="row">
                                        <p class="subscription-success"></p>
                                        <p class="subscription-failed"></p>
                                    </div>
  
                                    <div class="row">
                                        <div class="input-group">
  
                                            <div class="outer">
                                                <input type="email" class="black-text footer-email-bar form-control" placeholder="Email" name="email">
                                            </div>
  
                                            <div class="input-group-btn outer">
                                                <button class="footer-form-submit btn btn-fill">Subscribe</button>
                                            </div>
  
                                        </div>
  
                                    </div>
                                    <div class="row">
                                      <p class="js-subscribe-response subscribe-response"></p>
                                    </div>
                                </div>
                            </form>
                            
                            
                        </div> <!-- End: .subscribe-form -->
                    </div> <!-- End: .subscribe-form-area-inner -->
                </div> <!-- End: .subscribe-form-area -->
  
                <div class="each-item social-icon-area col-md-3 col-sm-6 col-xs-12">
                    <div class="social-icon-area-inner padding-l-40">
                        
                        <ul class="nav social-icon light">
                            <li>
                                <a href="http://www.linkedin.com/company/18200105" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                    <span class="name">LINKDIN</span>
                                </a>
                                
                            </li>
                            <li>
                                <a href="http://www.facebook.com/bitcaffe" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                    <span class="name">Facebook</span>
                                </a>                                    
                            </li>
                            <li>
                                <a href="//twitter.com/bitcaffe256" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                    <span class="name">TWITTER</span>
                                </a>                                    
                            </li>
                        </ul>
  
                    </div>
                </div>

                <div class="each-item side-navbar-area col-md-3 col-sm-6 col-xs-12">
                    <div class="side-navbar-area-inner padding-l-40">
                        
                        <ul class="nav side-navbar light">
                            <li>
                                <%= link_to "Home", url_for("/"), class: "nav-links", :data => { :reload => true } %>
                            </li>
                            <li>
                                <%= link_to "News", url_for("/news"), class: "nav-links", :data => { :reload => true } %>
                            </li>
                            <li>
                                <%= link_to "Resources", url_for("/resources"), class: "nav-links", :data => { :reload => true } %>
                            </li>
                        </ul>
  
                    </div>
                </div>
                <!--<div class="each-item side-navbar-area col-md-3 col-sm-6 col-xs-12">-->
                <!--    <div class="side-navbar-area-inner padding-l-40">-->
                        
                <!--        <ul class="nav side-navbar light">-->
                <!--            <% if current_user %>-->
                <!--              <li><%= link_to "Logout", "/logout", class: "nav-links fa fa-sign-out", :data => { :reload => true } %></li>-->
                <!--            <% else %>-->
                <!--              <li><%= link_to "Sign-Up", "/signup" , class: "nav-links glyphicon glyphicon-user", :data => { :reload => true } %></li>-->
                <!--              <li><%= link_to "Login", "/login" , class: "nav-links fa fa-sign-in", :data => { :reload => true } %></li>-->
                <!--            <% end %>-->
                <!--        </ul>-->
  
                <!--    </div>-->
                <!--</div>-->
                
            </div>
            
        </div> <!-- End: .row .section-separator  -->
    </div> <!-- End: .container  -->
  </section>
  <footer class="footer-section-1 background-3">
    <div class="container">
        <div class="row section-separator-smallest light-text">

            <div class="col-md-12 col-sm-12 text-center">

                <p class="text">&copy; BitCaffe LLC <%= Time.current.year %></p>

            </div> <!-- End: .col-md-4 -->
            
        </div><!-- End: .row .footer-body .section-separator  -->
    </div> <!-- End: .container  -->
  </footer>
  
    <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59bf0f900e22530f"></script> 
  </body>
  </html>

  <script type="text/javascript">
    $(function() {
      $(".dropdown").on("mouseover", function() {
        $(this).addClass("open");
      });
      $(".dropdown").on("mouseout", function() {
        $(this).removeClass("open");
      });
      $(".dropdown-toggle, .navbar-brand").on("click", function() {
        if (window.location.pathname == $(this).attr("href")) {
          return false;
        } else {
          window.location = $(this).attr("href");
        }
      });
    }); 
    $(function(){
      $('a[data-reload="true"').on('click', function(e) {
        window.location = $(e.target).attr('href');
        window.location.reload(true);
      });
    });
  </script>